<head>
    <title>yeah boyy</title>
    <meta property="og:title" content="yeah boyyyy" />
</head>

<body>
    <div class="register">
        <div style="width:100%; height:20vh"></div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="dashboardcard">
                    <div class="row">
                        <div class="col-md-3"> <img height="auto" width="100%" ng-src="{{vm.news.image.normalRes}}">
                        </div>
                        <div class="col-md-9">
                            <h1 class="md-display-1" style="    text-transform: capitalize;
"><b>{{vm.news.title}}</b></h1>
                        </div>
                    </div>
                </div>

                <div class="dashboardcard" style="min-height:20vh">


                    <div ng-bind-html="vm.trusted" style=" overflow-wrap: break-word;"></div>






                    <button has-authority="ROLE_ADMIN" type="button" ui-sref="news-detail.edit({id:vm.news.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
                    <button has-authority="ROLE_ADMIN" type="submit" ui-sref="news.delete({id:vm.news.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                </div>
                <div class="dashboardcard">
                    <div class="row justify-content-between">
                        <div class="col-md-3">
                            <a ui-sref="profile-detail({id:vm.news.author.id})"><img ng-src="{{vm.news.author.image.thumbnail}}"></a>

                        </div>
                        <div class="col-md-3">
                            <br>
                            <br>
                            <span>{{vm.news.creationDate | date:'medium'}}</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>