

<div class="Dashboardbk" style="background: linear-gradient(45deg, #ee2d29, #f8ae2c);">
    <div style="width:100%; height:20vh"></div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content class="md-padding ">
                    <h1 class="md-display-2">Recent Articles</h1>
                    <md-list infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']" flex>
                        <md-list-item ng-repeat="news in vm.news track by news.id" class="md-3-line md-long-text" ui-sref="news-detail({id:news.id})" ng-click="null">
                            <img ng-hide="news.image===null" ng-src="{{news.image.thumbnail}}" class="md-avatar" alt="{{news.title}}" />
                            <img class="md-avatar" ng-show="news.image===null" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                            <div class="md-list-item-text">
                                <h3>{{news.title}}</h3>
                                <p>
                                    {{news.resume}}
                                </p>
                            </div>

                            <button has-authority="ROLE_ADMIN" type="submit" ui-sref="news.edit({id:news.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button has-authority="ROLE_ADMIN" type="submit" ui-sref="news.delete({id:news.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>