<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="dashboardcard" style="min-height:20vh">
                <div class="container">
                    <div style="margin-top: 20px;"class="col-md-12">
                        <h1>{{vm.subject.title}}</h1>
                        <p ng-bind-html="vm.subject.content | linky:'_blank':{rel: 'nofollow'}"></p>
                        <div>
                            <span class="label label-success">Published By <a style="color:orange" ui-sref="profile-detail({id:vm.subject.profile.id})"> {{vm.subject.profile.firstName}} {{vm.subject.profile.lastName}}</a></span>
                            <span class="badge">Posted at {{vm.subject.creationDate | date:'medium'}}</span>
                            <div class="pull-right">
                                <a ng-show="vm.subject.profile.id===vm.account.profile.id" ui-sref="subject-detail.edit({id:vm.subject.id})"><span class="label label-primary" data-translate="entity.action.edit">Edit</span></a>
                                <span class="label label-success">{{vm.comments.length}} Comments</span>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="post-footer ">
                        <md-content class="md-padding">
                            <form name="editForm " ng-submit="vm.save() ">
                                <div class="input-group " style="margin-top:5px;margin-bottom:10px ">
                                    <input class="form-control " ng-model="vm.comment.content" placeholder="Add a comment " type="text ">

                                    <span class="input-group-btn ">
                                                   <button  class="btn btn-primary"  type="submit">Go!</button>
                                                    </span>
                                </div>
                            </form>
                        </md-content>
                        <md-content class="md-padding">
                            <ul class="comments-list" infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                                <md-content class="md-padding">
                                    <li class="comment" style="border-bottom: 1px solid #c7ecf4;padding-top:10px;padding-bottom:10px" ng-repeat="comment in vm.comments | orderBy : creationDate">
                                        <a class="pull-left" href="#" ui-sref="profile-detail({id:comment.profile.id})">
                                            <img class="avatar img-circle" ng-show="comment.profile.image.thumbnail!=null" ng-src="{{comment.profile.image.thumbnail}} " alt="avatar " width="40px">
                                            <img class="avatar img-circle" src="content/images/user.gif" ng-hide="comment.profile.image.thumbnail!=null" alt="avatar " width="40px">
                                        </a>
                                        <a ng-show="comment.profile.id===vm.account.profile.id" ng-click="showConfirm4($event,comment)" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        <div class="comment-body ">
                                            <div class="comment-heading">
                                                <h4 class="user"><strong>{{comment.profile.firstName}} {{comment.profile.lastName}}</strong></h4>
                                                <h5 class="time pull-center">{{comment.creationDate | date : 'medium'}}</h5>
                                            </div>
                                            
                                            <p style="margin-top: 15px;
                                            margin-left: 3%;
                                            margin-bottom: 1rem;font-size:15px" ng-bind-html="comment.content | linky:'_blank':{rel: 'nofollow'}"></p>
                                        </div>

                                    </li>
                                </md-content>
                            </ul>
                        </md-content>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!--<div>
    <h2><span data-translate="mawjoudin2App.subject.detail.title">Subject</span> {{vm.subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.subject.title">Title</span></dt>
        <dd>
            <span>{{vm.subject.title}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.subject.content">Content</span></dt>
        <dd>
            <span>{{vm.subject.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.subject.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.subject.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.subject.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.subject.profile.id})">{{vm.subject.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="subject-detail.edit({id:vm.subject.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>-->