<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ui-sref="subject.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.subject.home.createLabel">
                        Create new Subject
                    </span>
                </button>
                    </div>
                    <div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group pull-right">
                                <input type="text" class="form-control" ng-model="searchFn" id="searchQuery" placeholder="{{ 'mawjoudin2App.subject.home.search' | translate }}">
                                <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; height:2vh"></div>
    <div class="row" ng-show="vm.subjects.length!=0">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content class="md-padding ">
                    <center>
                        <h1 class="md-display-2">Forums</h1>
                    </center>
                    <div class="container" ng-show="vm.subjects.length===0">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">Hey {{vm.account.profile.firstName}}!</h1>
                                <p class="lead">Be the first to start a forum !</p>
                            </div>
                        </div>
                    </div>
                    <md-list flex ng-show="vm.subjects.length!=0">
                        <md-list-item ng-repeat="subject in vm.subjects | orderBy : 'creationDate' | filter:searchFn" class="md-3-line md-long-text" ui-sref="subject-detail({id:subject.id})"
                            ng-click="null">
                            <img ng-hide="subject.profile.image===null" ng-src="{{subject.profile.image.thumbnail}}" class="md-avatar" alt="{{news.title}}"
                            />
                            <img class="md-avatar" ng-show="subject.profile.image===null" src="content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                            <div class="md-list-item-text">
                                <h3>{{subject.title}}</h3>
                                <p>
                                    {{subject.content}}
                                </p>
                            </div>

                            <button ng-show="subject.profile.id===vm.account.profile.id" type="submit" ui-sref="subject.edit({id:subject.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button ng-show="subject.profile.id===vm.account.profile.id" type="submit" ui-sref="subject.delete({id:subject.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>

<!--<div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="mawjoudin2App.subject.title">Title</span></th>
                    <th><span data-translate="mawjoudin2App.subject.content">Content</span></th>
                    <th><span data-translate="mawjoudin2App.subject.creationDate">Creation Date</span></th>
                    <th><span data-translate="mawjoudin2App.subject.profile">Profile</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in vm.subjects track by subject.id">
                    <td><a ui-sref="subject-detail({id:subject.id})">{{subject.id}}</a></td>
                    <td>{{subject.title}}</td>
                    <td>{{subject.content}}</td>
                    <td>{{subject.creationDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="profile-detail({id:subject.profile.id})">{{subject.profile.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="subject-detail({id:subject.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subject.edit({id:subject.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subject.delete({id:subject.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->