<form class="cd-form floating-labels" name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubjectLabel" data-translate="mawjoudin2App.subject.home.createOrEditLabel">Create or edit a Subject</h4>
    </div>
    <div class="modal-body">
        
            <div class="icon">
                <label class="cd-label" for="cd-adress">Set a title</label>
                <input ng-model="vm.subject.title" name="titre" class="titre" type="text" id="cd-adress" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif">
            </div>
            <hr/>
            <div class="icon">
                <label class="cd-label" for="cd-textarea"> write something here .... </label>
                <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.subject.content" id="cd-textarea"></textarea>
            </div>
           
           

    </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<!--<jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.subject.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.subject.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.subject.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.subject.content"
                    />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>-->
<script src="content/js/main.js "></script>