<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content class="md-padding ">
                    <h1 class="md-display-2">All Newsletter</h1>
                    <md-list flex>
                        <md-list-item ng-repeat="newsletter in vm.newsLetters track by $index" class="md-3-line md-long-text">
                            <img class="md-avatar" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                            <div class="md-list-item-text">
                                <h3>{{newsletter.title}}</h3>
                                <p>
                                    {{newsletter.creationDate | date:'fullDate'}}
                                </p>
                                <p>
                                    NewsLettere sent on : {{newsletter.sendingDate | date:'medium'}}
                                </p>
                            </div>

                            <button ng-show="newsletter.status===0" type="button" ng-click="send(newsletter)" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span>Send Newsletter</span>
                            </button>
                            <button type="button" ui-sref="news-letter-detail({id:newsletter.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>read</span>
                            </button>

                            <button type="submit" ui-sref="news-letter.edit({id:newsletter.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" ui-sref="news-letter.delete({id:newsletter.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </md-list-item>

                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>