<head>
    <title>yeah boyy</title>
    <meta property="og:title" content="yeah boyyyy" />
</head>

<body>
    <div class="register">
        <div style="width:100%; height:20vh"></div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="dashboardcard">

                    <h1 class="md-display-1" style="text-transform: capitalize;">
                        <b>{{vm.newsLetter.title}}</b></h1>

                </div>

                <div class="dashboardcard" style="min-height:20vh">


                    <div ng-bind-html="vm.trusted" style=" overflow-wrap: break-word;"></div>






                    <button has-authority="ROLE_ADMIN" type="button" ui-sref="news-letter-detail.edit({id:vm.newsLetter.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
                    <button has-authority="ROLE_ADMIN" type="submit" ui-sref="news-letter.delete({id:vm.newsLetter.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                </div>
                <div class="dashboardcard">
                    <div class="row justify-content-between">
                        <div class="col-md-3">
                            {{vm.newsLetter.status}}

                        </div>
                        <div class="col-md-3">
                            <br>
                            <br>
                            <span>{{vm.newsLetter.creationDate | date:'medium'}}</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>