<style>
    .modal.fade .modal-dialog {
        margin-top: 5% !important;
    }
    
    .modal-backdrop {
        position: fixed !important;
    }
    
    md-input-container label:not(._md-container-ignore) {
        position: relative !important;
    }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsLetterLabel" data-translate="mawjoudin2App.newsLetter.home.createOrEditLabel">Create or edit a News Letter</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsLetter.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.newsLetter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.newsLetter.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title" ng-model="vm.newsLetter.title" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.newsLetter.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.newsLetter.creationDate" is-open="vm.datePickerOpenStatus.creationDate" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.newsLetter.sendingDate" for="field_sendingDate">Sending Date</label>
            <div class="input-group">
                <input id="field_sendingDate" type="text" class="form-control" name="sendingDate" datetime-picker="{{dateformat}}" ng-model="vm.newsLetter.sendingDate" is-open="vm.datePickerOpenStatus.sendingDate" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sendingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <summernote ng-model="vm.newsLetter.content" min-height="400"></summernote>

        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.newsLetter.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status" ng-model="vm.newsLetter.status" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>