<div class="modal-content" style="padding: 0px; min-height:100%">
    <div class="row">
        <div class="col-md-12" style="padding: 0px; margin: 0px">
            <img ng-src="{{vm.publication.image.highRes}}" style="width: 100%; height: auto;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div style="margin:5% ">
                <center>
                    <blockquote>{{vm.publication.content}}</blockquote>
                </center>
            </div>
        </div>

    </div>


    <div class="modal-footer visible-xs ">


        <button type="button " ng-click="clear() " class="btn btn-secondary " data-dismiss="modal ">Fermer</button>
    </div>
</div>