<div>
    <h2><span data-translate="mawjoudin2App.publication.detail.title">Publication</span> {{vm.publication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.publication.content">Content</span></dt>
        <dd>
            <span>{{vm.publication.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.publication.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.publication.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.publication.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.publication.image.id})">{{vm.publication.image.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.publication.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.publication.profile.id})">{{vm.publication.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="publication-detail.edit({id:vm.publication.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>