<div class="verification">
    <div style="width:100%; height:3vh"></div>
    <div class="login" style="opacity:.8">
        <div class="row justify-content-center" style="opacity:1">
            <div class="col-md-12">
                <div class="typewriter">
                    <center>
                        <h1 style="font-family: 'Nunito', sans-serif;font-size:30px"data-translate="verification.title">Hey You </h1>
                    </center>
                </div>
                </br>
                <div class="typewriter2">
                    <h2 style="font-family: 'Nunito', sans-serif;font-size:15px" data-translate="verification.description">It looks like someone wanted to hack your account </h2>
                </div>
                </br>
                <div style="visibility:hidden;" id="div1" class="typewriter2">
                    <h3 style="font-family: 'Nunito', sans-serif;font-size:15px" data-translate="verification.verify">Don't worry</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ">
                <form class="cd-form floating-labels" name="form" role="form" ng-submit="vm.verifyPassword()" show-validation>
                    <div dir="ltr" class="icon">
                        <label style="font-family: 'Nunito', sans-serif;font-size:15px" class="cd-label" for="cd-safe" data-translate="verification.form.password">Validate Password</label>
                        <input style="font-family: 'Nunito', sans-serif;font-size:15px" class="safe" ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required type="password">
                        <a class="hide-password" data-translate="verification.form.show">Show</a>
                    </div>
                    <center>
                        <div class="col-md-10">
                            <button type="submit" ng-disabled="form.$invalid" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;margin-left:10%;width:100%" data-translate="verification.form.button">Save</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="content/js/main.js "></script>