<div style="width:100%;height:10vh"></div>
<div class="row justify-content-center">
    <div class="col-md-8 ">
        <div class="md-padding" ng-cloak>
            <h1 class="md-display-2">Form Message Detail</h1>

            <h2 class="md-title">Name & Email</h2>
            <p>{{vm.form.firstName}} {{vm.form.lastName}} | {{vm.form.email}}</p>
            <h2 ng-show="vm.form.creationDate!=null" class="md-title">Creation Date</h2>
            <p>{{vm.form.creationDate}}</p>
            <h2 class="md-title ">Message</h2>
            <p class="well">{{vm.form.content}}</p>
        </div>
    </div>
</div>