<div style="height:20vh;width:100%"></div>
<div class="container">
    <div class="well">
        <h2 data-translate="mawjoudin2App.form.home.title">Forms</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">

                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr>
                        <th><span data-translate="global.field.id">ID</span></th>
                        <th><span data-translate="mawjoudin2App.form.firstName">First Name</span></th>
                        <th><span data-translate="mawjoudin2App.form.lastName">Last Name</span></th>
                        <th><span data-translate="mawjoudin2App.form.content">Content</span></th>
                        <th><span data-translate="mawjoudin2App.form.creationDate">Creation Date</span></th>
                        <th><span data-translate="mawjoudin2App.form.email">Email</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form in vm.forms track by form.id">
                        <td><a ui-sref="form-detail({id:form.id})">{{form.id}}</a></td>
                        <td>{{form.firstName}}</td>
                        <td>{{form.lastName}}</td>
                        <td>{{form.content}}</td>
                        <td>{{form.creationDate | date:'medium'}}</td>
                        <td>{{form.email}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" ui-sref="form-detail({id:form.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>

                                <button type="submit" ui-sref="form.delete({id:form.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>