<div class="loginbk">
    <div style="height:15vh; width:100%"></div>
    <div class="row justify-content-center">

        <div class="dashboardcard col-md-10" style="opacity:1">
            <h1 class="md-display-2">Questionnaire on incidents motivated by hatred towards LGBTQI+ people</h1>
            <p>
                Thank you very much for filling in this form which aims at understanding better the phenomenon of incidents and violence against the LGBTIQ+ or on the basis of Sexual orientation, Gender identity and expression and sex characteristics. Completing this
                questionnaire will take on average 15 minutes. Your support in mapping the situation is very much appreciated. PS: All your information and personal data will remain strictly confidential The questionnaire contain 3 sections, A, B and
                C please feel free to fill them in the order that you feel is most convenient.

            </p>
            <md-content layout-padding>
                <h1 class="md-display-1">A- Detail Of the Victim</h1>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label data-translate="mawjoudin2App.questionnaire.fullName">Full Name</label>
                        <input ng-model="vm.questionnaire.fullName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label data-translate="mawjoudin2App.questionnaire.email">Email</label>
                        <input ng-model="vm.questionnaire.email" type="email">
                    </md-input-container>

                </div>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.phoneNumber">Phone Number</label>
                    <input ng-model="vm.questionnaire.phoneNumber">
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.nationality">Nationality</label>
                    <input ng-model="vm.questionnaire.nationality">
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.age" for="field_age">Age</label>
                    <input type="number" name="age" id="field_age" ng-model="vm.questionnaire.age" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.adress" for="field_adress">Adress</label>
                    <input vs-google-autocomplete type="text" name="adress" id="field_adress" ng-model="vm.questionnaire.adress" />
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.biologicalSex" for="field_biologicalSex">Biological Sex</label>
                    <md-select ng-model="vm.questionnaire.biologicalSex">
                        <md-option ng-repeat="bsex in bsexes" ng-value="bsex.id">
                            {{bsex.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.genderIdentity" for="field_genderIdentity">Gender Identity</label>
                    <md-select ng-model="vm.questionnaire.genderIdentity">
                        <md-option ng-repeat="identity in gidentities" ng-value="identity.id">
                            {{identity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.sexualOrientation" for="field_sexualOrientation">Sexual Orientation</label>
                    <md-select ng-model="vm.questionnaire.sexualOrientation">
                        <md-option ng-repeat="orientation in sexualOrientations" ng-value="orientation.id">
                            {{orientation.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.liveIn" for="field_liveIn">Live In</label>
                    <md-select ng-model="vm.questionnaire.liveIn">
                        <md-option ng-repeat="live in liveIns" ng-value="live.id">
                            {{live.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.connectionWithLgbt" for="field_connectionWithLgbt">Connection With Lgbt</label>
                    <md-select ng-model="vm.questionnaire.connectionWithLgbt">
                        <md-option ng-repeat="entity in lgbCons" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label class="control-label" data-translate="mawjoudin2App.questionnaire.extent" for="field_extent">Extent</label>
                    <md-select ng-model="vm.questionnaire.extent">
                        <md-option ng-repeat="entity in extents" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <h1 class="md-display-1">B- Incident</h1>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.trueDateOfIncident" for="field_trueDateOfIncident">True Date Of Incident</label>
                    <div class="input-group">
                        <input id="field_trueDateOfIncident" type="text" class="form-control" name="trueDateOfIncident" datetime-picker="{{dateformat}}" ng-model="vm.questionnaire.trueDateOfIncident" is-open="vm.datePickerOpenStatus.trueDateOfIncident" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('trueDateOfIncident')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.adressIncident" for="field_adressIncident">Adress Incident</label>
                    <input vs-google-autocomplete type="text" name="adressIncident" id="field_adressIncident" ng-model="vm.questionnaire.adressIncident" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.placeIncident" for="field_placeIncident">Place Incident</label>
                    <md-select ng-model="vm.questionnaire.placeIncident">
                        <md-option ng-repeat="entity in places" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <h1>Type of incident: (several answers possible) </h1>

                <div layout="row" layout-wrap>
                    <div flex="100" flex-gt-sm="100" layout="column">
                        <div>

                            <fieldset class="standard">
                                <legend>Verbal</legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="100" ng-repeat="item in verbalInc">
                                        <md-checkbox ng-checked="exists(item, selectedVerbalInc)" ng-click="toggle(item, selectedVerbalInc)">
                                            {{ item.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div flex="100" flex-gt-sm="100" layout="column">
                        <div>

                            <fieldset class="standard">
                                <legend>Physical </legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="100" ng-repeat="item in physicalInc">
                                        <md-checkbox ng-checked="exists(item, selectedVerbalInc)" ng-click="toggle(item, selectedVerbalInc)">
                                            {{ item.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div flex="100" flex-gt-sm="100" layout="column">
                        <div>

                            <fieldset class="standard">
                                <legend>Sexual </legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="100" ng-repeat="item in sexualInc">
                                        <md-checkbox ng-checked="exists(item, selectedVerbalInc)" ng-click="toggle(item, selectedVerbalInc)">
                                            {{ item.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div flex="100" flex-gt-sm="100" layout="column">
                        <div>

                            <fieldset class="standard">
                                <legend>Psychological </legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="100" ng-repeat="item in psycoInc">
                                        <md-checkbox ng-checked="exists(item, selectedVerbalInc)" ng-click="toggle(item, selectedVerbalInc)">
                                            {{ item.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div flex="100" flex-gt-sm="100" layout="column">
                        <div>

                            <fieldset class="standard">
                                <legend>Economical </legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="100" ng-repeat="item in ecoInc">
                                        <md-checkbox ng-checked="exists(item, selectedVerbalInc)" ng-click="toggle(item, selectedVerbalInc)">
                                            {{ item.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <md-input-container class="md-block">
                    <label>Can you provide more details about the incident, please feel free to describe the incident?</label>
                    <textarea ng-model="vm.questionnaire.incidentDescription" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.occurenceIncident">Occurence Incident</label>
                    <input ng-model="vm.questionnaire.occurenceIncident" type="number">
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.numberPerpetrators">Number Perpetrators</label>
                    <input ng-model="vm.questionnaire.numberPerpetrators" type="number">
                </md-input-container>

                <b data-translate="mawjoudin2App.questionnaire.isThreat">If Threat</b>
                <md-button class="md-raised md-primary" ng-click="isthreat=1" ng-disabled="isthreat===1"> Yes </md-button>

                <md-input-container class="md-block" ng-show="isthreat===1">
                    <label data-translate="mawjoudin2App.questionnaire.threatDescription">Threat Description</label>
                    <textarea ng-model="vm.questionnaire.threatDescription" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.identityperpetrator" for="field_identityperpetrator">Identityperpetrator</label>
                    <md-select ng-model="vm.questionnaire.identityperpetrator">
                        <md-option ng-repeat="entity in preIdentity" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <b data-translate="mawjoudin2App.questionnaire.ifidentifier">If Identifier</b>
                <md-button class="md-raised md-primary" ng-click="isidentifier=1" ng-disabled="isidentifier===1"> Yes </md-button>

                <md-input-container class="md-block" ng-show="isidentifier===1">
                    <label data-translate="mawjoudin2App.questionnaire.identifierPerpetrator">Identifier Perpetrator</label>
                    <textarea ng-model="vm.questionnaire.identifierPerpetrator" rows="5" md-select-on-focus></textarea>
                </md-input-container>


                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.agePerpetrator" for="field_agePerpetrator">Age Perpetrator</label>
                    <input type="text" name="agePerpetrator" id="field_agePerpetrator" ng-model="vm.questionnaire.agePerpetrator" />
                </md-input-container>

                <b data-translate="mawjoudin2App.questionnaire.ifWitnesses">If Witnesses</b>
                <md-button class="md-raised md-primary" ng-click="iswitness=1" ng-disabled="iswitness===1"> Yes </md-button>

                <md-input-container class="md-block" ng-show="iswitness===1">
                    <label data-translate="mawjoudin2App.questionnaire.witnessReaction" for="field_witnessReaction">Witness Reaction</label>
                    <textarea ng-model="vm.questionnaire.witnessReaction" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block" ng-show="iswitness===1">
                    <label data-translate="mawjoudin2App.questionnaire.witnessDetail" for="field_witnessDetail">Witness Detail</label>
                    <textarea ng-model="vm.questionnaire.witnessDetail" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.incidentLink" for="field_incidentLink">Incident Link</label>
                    <md-select ng-model="vm.questionnaire.incidentLink">
                        <md-option ng-repeat="entity in linkInc" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.incidentLinkIndic" for="field_incidentLinkIndic">Incident Link Indic</label>
                    <md-select ng-model="vm.questionnaire.incidentLinkIndic">
                        <md-option ng-repeat="entity in LinkIncWhy" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <h1 class="md-display-1">B- Impact</h1>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.impact" for="field_impact">Impact</label>
                    <md-select ng-model="vm.questionnaire.impact">
                        <md-option ng-repeat="entity in affect" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.impactDetail" for="field_impactDetail">Impact Detail</label>
                    <textarea ng-model="vm.questionnaire.impactDetail" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.medicalCare" for="field_medicalCare">Medical Care</label>
                    <md-select ng-model="vm.questionnaire.medicalCare">
                        <md-option ng-repeat="entity in yorno" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.medicalStaff" for="field_medicalStaff">Medical Staff</label>
                    <textarea ng-model="vm.questionnaire.medicalStaff" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.psyImact" for="field_psyImact">Psy Imact</label>
                    <textarea ng-model="vm.questionnaire.psyImact" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <b data-translate="mawjoudin2App.questionnaire.isSupport">If Support</b>
                <md-button class="md-raised md-primary" ng-click="isSupport=1" ng-disabled="isSupport===1"> Yes </md-button>
                <md-input-container class="md-block" ng-show="isSupport===1">
                    <label data-translate="mawjoudin2App.questionnaire.supportKind" for="field_supportKind">Support Kind</label>
                    <md-select ng-model="vm.questionnaire.supportKind">
                        <md-option ng-repeat="entity in support" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.police" for="field_police">Police</label>
                    <md-select ng-model="vm.questionnaire.police">
                        <md-option ng-repeat="entity in yorno" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" ng-show="vm.questionnaire.police===1">
                    <label data-translate="mawjoudin2App.questionnaire.policeDescYes" for="field_policeDesc">Police Desc</label>
                    <textarea ng-model="vm.questionnaire.policeDesc" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block" ng-show="vm.questionnaire.police===2">
                    <label data-translate="mawjoudin2App.questionnaire.policeDescNo" for="field_policeDesc">Police Desc</label>
                    <textarea ng-model="vm.questionnaire.policeDesc" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <b data-translate="mawjoudin2App.questionnaire.isForcibly">If Police</b>
                <md-button class="md-raised md-primary" ng-click="isForcibly=1" ng-disabled="isForcibly===1"> Yes </md-button>

                <md-input-container class="md-block" ng-show="isForcibly===1">
                    <label data-translate="mawjoudin2App.questionnaire.forciblyPolice" for="field_forciblyPolice">Forcibly Police</label>
                    <input ng-model="vm.questionnaire.forciblyPolice" type="text">
                </md-input-container>
                <b data-translate="mawjoudin2App.questionnaire.isArrest" ng-show="isForcibly===1">If Arrest</b>
                <md-button class="md-raised md-primary" ng-click="isArrest=1" ng-show="isForcibly===1" ng-disabled="isArrest===1"> Yes </md-button>

                <md-input-container class="md-block" ng-show="isForcibly===1&&isArrest===1">
                    <label data-translate="mawjoudin2App.questionnaire.arrestPeriod" for="field_arrestPeriod">Arrest Period</label>
                    <input ng-model="vm.questionnaire.arrestPeriod" type="text">
                </md-input-container>

                <md-input-container class="md-block" ng-show="isForcibly===1&&isArrest===1">
                    <label data-translate="mawjoudin2App.questionnaire.arrestMotif" for="field_arrestMotif">Arrest Motif</label>
                    <md-select ng-model="vm.questionnaire.arrestMotif">
                        <md-option ng-repeat="entity in arMotif" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" ng-show="isForcibly===1">
                    <label data-translate="mawjoudin2App.questionnaire.arrestDetail" for="field_arrestDetail">Arrest Detail</label>
                    <textarea ng-model="vm.questionnaire.arrestDetail" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.incidentReport" for="field_incidentReport">Incident Report</label>
                    <md-select ng-model="vm.questionnaire.incidentReport">
                        <md-option ng-repeat="entity in reportTo" ng-value="entity.id">
                            {{entity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>


                <md-input-container class="md-block">
                    <label data-translate="mawjoudin2App.questionnaire.anythingToAdd" for="field_anythingToAdd">Anything To Add</label>
                    <textarea ng-model="vm.questionnaire.anythingToAdd" rows="5" md-select-on-focus></textarea>
                </md-input-container>

            </md-content>
            <center>
                <md-button class="md-raised md-primary" ng-click="vm.save()">Send Message</md-button>

            </center>
        </div>
    </div>

</div>