<div class="loginbk">
    <div style="height:15vh; width:100%"></div>
    <div class="row justify-content-center">

        <div class="dashboardcard col-md-6">
            <h1 class="md-display-2">Report a problem</h1>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input ng-model="vm.form.firstName">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input ng-model="vm.form.lastName">

                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="vm.form.email" type="email">

                </md-input-container>
            </div>

            <md-content layout-padding>
                <div>
                    <form name="userForm">
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="vm.form.content" rows="8" md-select-on-focus></textarea>
                        </md-input-container>
                    </form>
                </div>
            </md-content>
            <center>
                <md-button class="md-raised md-primary" ng-click="vm.save()">Send Message</md-button>

            </center>
        </div>
    </div>

</div>
<div id="sec4 " class="homesection5 " style="z-index:10; position:relative; ">
    <div class="row ">
        <div class="col-md-4 footer ">
            <center>
                <h3 class="md-display-1 "><i class="fa fa-users " aria-hidden="true "></i>
                </h3>
                <p>+216 52 607 080 </p>
                <p>Mawjoudin.tn@mawjoudin.org </p>
                <p>Tunis avenue de Carthage</p>
            </center>

        </div>
        <div class="col-md-4 ">

            <center>
                <h3 class="md-display-1 " data-translate="global.stay">Stay Conntected</h3>
                <ul class="social-network social-circle ">
                    <li><a href="https://web.facebook.com/mawjoudin.tn/ " class="icoFacebook " title="Facebook "><i class="fa fa-facebook " target="_blank "></i></a></li>
                    <li><a href="https://twitter.com/Mawjoudin " class="icoTwitter " title="Twitter "><i class="fa fa-twitter " target="_blank "></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=WahOgp33RZE " class="icoGoogle " title="Youtube " target="_blank "><i class="fa fa-youtube "></i></a></li>
                    <li><a href="https://www.instagram.com/mawjoudin_we_exist/ " class="icoLinkedin " title="instagram " target="_blank "><i class="fa fa-instagram "></i></a></li>
                </ul>
            </center>
        </div>
        <div class="col-md-4 ">
            <!-- <form class="form cd-form floating-labels " style=" background-color: #f3eaf0; margin: 0px auto; " role="form " ng-submit="vm.login($event) ">
                    <div class="icon ">
                        <label class="cd-label " for="cd-email ">Newsletter</label>
                        <input type="email " class="email " id="email " name="email " ng-model="vm.registerAccount.email " ng-minlength=5 ng-maxlength=100>
                    </div>
                </form> -->
            <center>
                <md-button ui-sref="questionnaire.new" class="md-raised md-warn " data-translate="global.incident">Report an incident</md-button>

                <md-button ui-sref="new-signal " class="md-raised md-warn " data-translate="global.report">Report a problem</md-button>
            </center>
        </div>

    </div>
</div>