
<div>
    <h2><span data-translate="mawjoudin2App.chatControl.detail.title">Chat Control</span> {{vm.chatControl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.chatControl.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.chatControl.startDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.chatControl.endDate">End Date</span></dt>
        <dd>
            <span>{{vm.chatControl.endDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.chatControl.status">Status</span></dt>
        <dd>
            <span>{{vm.chatControl.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="chat-control-detail.edit({id:vm.chatControl.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
