<div>
    <h2 data-translate="mawjoudin2App.chatControl.home.title">Chat Controls</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chat-control.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.chatControl.home.createLabel">
                        Create new Chat Control
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="mawjoudin2App.chatControl.startDate">Start Date</span></th>
                    <th><span data-translate="mawjoudin2App.chatControl.endDate">End Date</span></th>
                    <th><span data-translate="mawjoudin2App.chatControl.status">Status</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chatControl in vm.chatControls track by chatControl.id">
                    <td><a ui-sref="chat-control-detail({id:chatControl.id})">{{chatControl.id}}</a></td>
                    <td>{{chatControl.startDate | date:'medium'}}</td>
                    <td>{{chatControl.endDate | date:'medium'}}</td>
                    <td>{{chatControl.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chat-control-detail({id:chatControl.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat-control.edit({id:chatControl.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat-control.delete({id:chatControl.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
