<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />



<main class="demo-1">

    <div class="page-view">
        <div class="project">
            <div class="text">
                <h1>THE RIGHT TO BE WHO YOU ARE
                </h1>
            </div>
        </div>
        <div class="project">
            <div class="text">
                <h1>LOVE IS A HUMAN RIGHT FOR ALL
                </h1>
            </div>
        </div>
        <div class="project">
            <div class="text">
                <h1>SEXUALITY IS NOT A CRIME
                </h1>
            </div>
        </div>

        <nav class="arrows">
            <div class="arrow previous">
                <svg viewBox="208.3 352 4.2 6.4">
							<polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"/>
						</svg>
            </div>
            <div class="arrow next">
                <svg viewBox="208.3 352 4.2 6.4">
							<polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"/>
						</svg>
            </div>
        </nav>
    </div>
</main>
<script src="js/zepto.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/demo.js"></script>