<form class="cd-form floating-labels" name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlogLabel" data-translate="mawjoudin2App.blog.home.createOrEditLabel">Create or edit a Blog</h4>
    </div>
    <div class="modal-body">
       
         <div class="icon">
                <label class="cd-label" for="cd-adress">Set a title</label>
                <input ng-model="vm.blog.title" name="titre" class="titre" type="text" id="cd-adress" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif">
            <hr/>
            <div class="icon">
                <label class="cd-label" for="cd-textarea"> write something here .... </label>
                <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.blog.content" id="cd-textarea"></textarea>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<script src="content/js/main.js "></script>