<div style="width:100%;height:20vh"></div>
<section id="cd-intro">
    <div id="cd-intro-background" style=" background: url('{{vm.blog.image.normalRes}}') no-repeat center center;"></div>
    <div id="cd-intro-tagline">
        <h1 style="font-family: 'Nunito', sans-serif; font-size:64px">{{vm.blog.title}}</h1>

    </div>
    <!-- cd-intro-tagline -->
</section>
<!-- #cd-intro -->

<main class="cd-content" style="min-height:100vh">
    <div class="cd-container">
        <p style="font-family: 'Nunito', sans-serif; font-size:20px;
line-height: 50px; margin-left:2cm" ng-hide="isArabic(vm.blog.content)">{{vm.blog.content}}.</p>
        <p ng-show="isArabic(vm.blog.content)" style="font-family: 'Nunito', sans-serif; font-size:25px;margin:5px auto" dir="rtl">{{vm.blog.content}}.</p>
        <br>
            <br>
            <div class="pull-right">
        <button type="button" ui-sref="blog-detail.edit({id:vm.blog.id})" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
            </button>
            <br>
            <br>
        </div>
        <div class="row" style="margin-left:2cm">

            
            <span class="posted__category"> Publié par
                <a ui-sref="profile-detail({id:vm.blog.profile.id})">{{vm.blog.profile.firstName}} {{vm.blog.profile.lastName}}</a>
            </span>
        </div>
        <div class="row" style="margin-left:2cm">
            <time class="posted__time">{{vm.blog.creationDate | date :"mediumDate"}}</time>
            <span ng-show="vm.blog.state===0" style="background : orange" class="badge badge-pill badge-warning">On Hold</span>
        </div>
        <div ng-show="vm.account.profile===vm.blog.profile&&vm.blog.state===0" class="pull-right">

        </div>
    </div>
</main>

<!-- cd-content -->


<!--
    <article class="posted">
        <div>
            <div class="absolute-bg" style="background-image: url('{{vm.blog.image.highRes}}');"></div>
        </div>

        <div class="posted__container">
            <div style="width:100%;height:5vh"></div>
            <span class="posted__category"> Publié par <a ui-sref="profile-detail({id:vm.blog.profile.id})">{{vm.blog.profile.firstName}} {{vm.blog.profile.lastName}}</a></span>
            <div class="posted__content">
                <header>
                    <span style="background : orange" ng-show="vm.blog.state===0" class="badge badge-pill badge-warning">On Hold</span>
                    <time class="posted__time">{{vm.blog.creationDate | date :"mediumDate"}}</time>
                    <h1 class="posted__header"><span>{{vm.blog.title}}</span></h1>
                </header>

                <p class="posted__text" ng-hide="isArabic(vm.blog.content)">{{vm.blog.content}}.</p>
                <p class="posted__text" ng-show="isArabic(vm.blog.content)" dir="rtl">{{vm.blog.content}}.</p>
            </div>
            <div class="posted__link">
                <a href="#">Older Posts</a>
            </div>
        </div>
    </article>
    <div>
    <h2><span data-translate="mawjoudin2App.blog.detail.title">Blog</span> {{vm.blog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.blog.title">Title</span></dt>
        <dd>
            <span>{{vm.blog.title}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.blog.content">Content</span></dt>
        <dd>
            <span>{{vm.blog.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.blog.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.blog.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.blog.state">State</span></dt>
        <dd>
            <span>{{vm.blog.state}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.blog.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.blog.image.id})">{{vm.blog.image.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.blog.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.blog.profile.id})">{{vm.blog.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="blog-detail.edit({id:vm.blog.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
-->
<script src="content/js/main.js "></script>