<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content class="md-padding" infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">

                    <center>
                        <h1 class="md-display-2">Blogs</h1>
                    </center>
                    <div class="container " ng-show="vm.blogs.length===0">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">Hey {{vm.account.profile.firstName}}!</h1>
                                <p class="lead">Inspire the others and be the first to write an article !</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.blogs.length!=0" class="col-md-4" ng-repeat="article in vm.blogs | orderBy : 'creationDate'">
                        <div class="paper ">
                            <img class="poster" ng-hide="article.image===true" ng-src="{{article.image.normalRes}}" />
                            <img class="poster" width="90%"  ng-show="article.image===null" src="content/images/mawjoudin.jpg" />
                            <span  class="pull-right" width="20%"><i class="fa fa-calendar" aria-hidden="true"></i>{{article.creationDate | date :"mediumDate"}}</span>
                            <span style="padding-left: 1px" class="pull-left" width="100%"><img ng-show="article.profile.image.thumbnail!=null" class="avatar img-circle" ng-src="{{article.profile.image.thumbnail}}" width="25px"/><span style="font-weight: bold;padding-left:4px">{{article.profile.firstName}} {{article.profile.lastName}}</span></span>
                            <div class="space"></div>
                            <hr/>
                            <h1>{{article.title}}</h1>
                            <hr/>
                            <p class="text" ng-hide="isArabic(article.content)">{{article.content | limitTo: 80 }} ...</p>
                            <p class="textArab" ng-show="isArabic(article.content)" dir="rtl">{{article.content | limitTo: 80 }} ...</p>
                            <a class="btn" ui-sref="blog-detail({id:article.id})">Read More</a>
                            <div class="space"></div>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
<!--    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="mawjoudin2App.blog.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="mawjoudin2App.blog.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="mawjoudin2App.blog.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="mawjoudin2App.blog.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image.id"><span data-translate="mawjoudin2App.blog.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profile.id"><span data-translate="mawjoudin2App.blog.profile">Profile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="blog in vm.blogs track by blog.id">
                    <td><a ui-sref="blog-detail({id:blog.id})">{{blog.id}}</a></td>
                    <td>{{blog.title}}</td>
                    <td>{{blog.content}}</td>
                    <td>{{blog.creationDate | date:'medium'}}</td>
                    <td>{{blog.state}}</td>
                    <td>
                        <a ui-sref="image-detail({id:blog.image.id})">{{blog.image.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({id:blog.profile.id})">{{blog.profile.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="blog-detail({id:blog.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="blog.edit({id:blog.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="blog.delete({id:blog.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->