<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 data-translate="reset.finish.title">Reset password</h1>

            <div class="alert alert-danger" data-translate="reset.finish.messages.keymissing" ng-show="vm.keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p data-translate="reset.finish.messages.info">Choose a new password</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <p data-translate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <p data-translate="reset.finish.messages.success" translate-compile><strong>Your password has been reset.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <md-content class="md-padding">
                        <div class="changepass">
                            <password>
                                <input dir="ltr" id="password" name="password" ng-model="vm.password" type="password"  ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                                <button type="button"></button>
                            </password>
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>
                            <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                        </div>
                        <div class="changepass">
                            <p data-translate="password.form.confirm" style="color:blueviolet">Confirm Password</p>
                            <password>
                                <input dir="ltr" id="confirmPassword" name="confirmPassword" type="password" ng-model="vm.confirmPassword"  ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                                <button type="button"></button>
                            </password>
                            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                <p class="help-block" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </p>
                                <p class="help-block" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </p>
                                <p class="help-block" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                    </md-content>
                    <div class="col-md-10" style="margin:10px 110px">
                        <button type="submit" ng-disabled="form.$invalid" class="button blue pull-center" data-translate="reset.finish.form.button">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
