
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgendaLabel" data-translate="mawjoudin2App.agenda.home.createOrEditLabel">Create or edit a Agenda</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.agenda.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.agenda.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.agenda.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.agenda.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.agenda.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.agenda.content"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.agenda.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.agenda.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.agenda.startsAt" for="field_startsAt">Starts At</label>
                <div class="input-group">
                    <input id="field_startsAt" type="text" class="form-control" name="startsAt" datetime-picker="{{dateformat}}" ng-model="vm.agenda.startsAt" is-open="vm.datePickerOpenStatus.startsAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startsAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.agenda.endsAt" for="field_endsAt">Ends At</label>
                <div class="input-group">
                    <input id="field_endsAt" type="text" class="form-control" name="endsAt" datetime-picker="{{dateformat}}" ng-model="vm.agenda.endsAt" is-open="vm.datePickerOpenStatus.endsAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endsAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.agenda.author" for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.agenda.author" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.agenda.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" multiple name="profile" ng-model="vm.agenda.profiles" ng-options="profile as profile.id for profile in vm.profiles track by profile.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
