
<div>
    <h2><span data-translate="mawjoudin2App.agenda.detail.title">Agenda</span> {{vm.agenda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.agenda.title">Title</span></dt>
        <dd>
            <span>{{vm.agenda.title}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.content">Content</span></dt>
        <dd>
            <span>{{vm.agenda.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.agenda.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.startsAt">Starts At</span></dt>
        <dd>
            <span>{{vm.agenda.startsAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.endsAt">Ends At</span></dt>
        <dd>
            <span>{{vm.agenda.endsAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.author">Author</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.agenda.author.id})">{{vm.agenda.author.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.agenda.profile">Profile</span></dt>
        <dd>
            <span ng-repeat="profile in vm.agenda.profiles">
                <a ui-sref="profile-detail({id: profile.id})">{{profile.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="agenda-detail.edit({id:vm.agenda.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
