<div>
    <h2 data-translate="mawjoudin2App.agenda.home.title">Agenda</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="agenda.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.agenda.home.createLabel">
                        Create new Agenda
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.title">Title</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.content">Content</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.creationDate">Creation Date</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.startsAt">Starts At</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.endsAt">Ends At</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.author">Author</span></th>
                    <th><span data-translate="mawjoudin2App.agenda.profile">Profile</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agenda in vm.agenda track by agenda.id">
                    <td><a ui-sref="agenda-detail({id:agenda.id})">{{agenda.id}}</a></td>
                    <td>{{agenda.title}}</td>
                    <td>{{agenda.content}}</td>
                    <td>{{agenda.creationDate | date:'medium'}}</td>
                    <td>{{agenda.startsAt | date:'medium'}}</td>
                    <td>{{agenda.endsAt | date:'medium'}}</td>
                    <td>
                        <a ui-sref="profile-detail({id:agenda.author.id})">{{agenda.author.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="profile in agenda.profiles">
                            <a class="form-control-static" ui-sref="profile-detail({id: profile.id})">{{profile.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="agenda-detail({id:agenda.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agenda.edit({id:agenda.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agenda.delete({id:agenda.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
