<div class="Dashboardbk" style="background: linear-gradient(45deg, #3a3d98, #6f22b9);">
    <div style="width:100%; height:20vh"></div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content class="md-padding ">
                    <h1 class="md-display-2">All Projects</h1>
                    <md-list infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']" flex>
                        <md-list-item ng-repeat="project in vm.projects track by project.id" class="md-3-line md-long-text" ui-sref="project-detail({id:project.id})" ng-click="null">
                            <img ng-src="{{project.image.thumbnail}}" class="md-avatar" alt="{{project.title}}" />
                            <div class="md-list-item-text">
                                <h3>{{project.title}}</h3>
                                <p>
                                    {{project.projectDate | date:'fullDate'}}
                                </p>
                            </div>

                            <button has-authority="ROLE_ADMIN" type="submit" ui-sref="project.edit({id:project.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button has-authority="ROLE_ADMIN" type="submit" ui-sref="project.delete({id:project.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>