<style>
    .modal.fade .modal-dialog {
        margin-top: 20% !important;
    }
    .modal-content {
        margin-top: 320px !important;
    }
    
    .modal-backdrop {
        position: fixed !important;
    }
    
    md-input-container label:not(._md-container-ignore) {
        position: relative !important;
    }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>

    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.project.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title" ng-model="vm.project.title" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.project.projectDate" for="field_resume">project Date</label>
            <input class="date" type="date" ng-model="vm.project.projectDate" name="cd-birthday" id="cd-birthday">
        </div>
        <div class="form-group">

            <md-input-container class="md-block ">
                <summernote ng-model="vm.project.description" config="options" min-height="400" editor="editor" editable="editable" on-image-upload="imageUpload(files)"></summernote>

        </div>




    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>