<style>
    body {
        background-color: #f3eaf0 !important;
        font-family: 'Nunito', sans-serif;
    }

    a.nostyle {
        color: inherit;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    div.portfoliocard {
        position: relative;
        height: auto;
        width: 75%;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1),
        0px 2px 6px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        margin-left: 13%;
        overflow: hidden;
        z-index: 100;
    }

    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 120px;
        background: url('https://sdpride.org/wp-content/uploads/2017/02/16473325_10154229981666056_4813051854523762021_n.jpg');
        background-position: center center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: inset 0px 3px 20px rgba(255, 255, 255, 0.3),
        1px 0px 2px rgba(255, 255, 255, 0.7);
        z-index: 99;
    }

    div.portfoliocard div.left_col,
    div.portfoliocard div.right_col {
        float: left;
        height: 340px;
    }

    div.portfoliocard div.left_col {
        width: 40%;
        padding-top: 85px;
        box-sizing: border-box;
    }

    div.portfoliocard div.right_col {
        width: 60%;
        background: rgba(245, 245, 245, 1);
        border-left: 1px solid rgba(230, 230, 230, 1);
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
        margin-left: -1px;
        border-bottom-right-radius: 5px;
    }

    div.portfoliocard img.profile_picture {
        width: 110px;
        height: 110px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 65px;
        left: 40px;
        border-radius: 100%;
        background-size: 100% 100%;
        padding: 7px;
        border: 4px solid rgba(255, 255, 255, 1)
    }

    div.portfoliocard div.right_col h2.name {
        font-size: 30px;
        font-weight: 300;
        color: rgba(30, 30, 30, 1);
        padding: 0;
        margin: 20px 10px 0px 30px;
    }

    div.portfoliocard div.right_col h3.location {
        font-size: 15px;
        font-weight: 300;
        color: rgba(170, 170, 170, 1);
        padding: 0;
        margin: -5px 10px 10px 30px;
    }

    div.portfoliocard ul.contact_information {
        margin-top: 20px;
        padding-left: 30px;
        list-style-type: none;
    }

    div.portfoliocard ul.contact_information li {
        height: 25px;
        width: 100%;
        line-height: 25px;
        font-weight: 300;
        font-size: 15px;
        color: rgba(140, 140, 140, 1);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
        padding: 5px 0px;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
        cursor: default;
    }

    div.portfoliocard ul.contact_information li:before {
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        float: left;
        background-position: center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        margin-right: 5px;
        opacity: 0.7;
    }

    div.portfoliocard ul.contact_information li:hover:before {
        opacity: 1;
    }

    div.portfoliocard div.followers,
    div.portfoliocard div.following {
        margin: 15px 0px 0px 35px;
        font-weight: 300;
        font-size: 16px;
        color: rgba(30, 30, 30, 1);
    }

    div.portfoliocard div.follow_count {
        font-weight: 400;
        font-size: 25px;
        color: rgba(140, 140, 140, 1);
    }
</style>
<div style="width:100%; height:20vh"></div>

<div class="portfoliocard">
    <div class="coverphoto"></div>
    <div>
        <img class="profile_picture" ng-src="{{vm.user.profile.image.thumbnail}}" />
    </div>
    <div class="left_col">
        <div class="followers">
            <div class="follow_count">
                <md-switch disabled class="md-primary" md-no-ink aria-label="Membership" ng-model="vm.user.profile.membership">
                    <span class="label label-danger" ng-show="!vm.user.profile.membership" data-translate="userManagement.notmember">Deactivated</span>
                    <span class="label label-success" ng-show="vm.user.profile.membership" data-translate="userManagement.member">Activated</span>
                </md-switch>

            </div>
            <p ng-show="vm.user.profile.membership">{{'userManagement.amember' | translate}}</p>
            <p ng-show="!vm.user.profile.membership">{{'userManagement.nmember' | translate}}</p>

        </div>
        <div class="following">
            <div class="follow_count">
                <md-switch class="md-primary" md-no-ink aria-label="activate" ng-model="vm.user.activated" ng-change="vm.setActive(vm.user.activated)">
                    <span class="label label-danger" ng-show="!vm.user.activated" data-translate="userManagement.deactivated">Deactivated</span>
                    <span class="label label-success" ng-show="vm.user.activated" data-translate="userManagement.activated">Activated</span>
                </md-switch>
            </div>

        </div>
    </div>
    <div class="right_col">
        <h2 class="name">{{vm.name}}</h2>
        <h3 class="location"></h3>
        <ul class="contact_information">
                <li><i class="fa fa-user-o" aria-hidden="true"></i> {{vm.user.login}}</li>
            <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>{{vm.user.email}}</span>
            </li>
            <li>
                <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ vm.birthdate | date : 'mediumDate' }}</li>
           
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{vm.user.profile.adress}}</li>
            <li><i class="fa fa-commenting-o" aria-hidden="true"></i> {{'userManagement.motivation' | translate}} : <p align="justify">{{vm.user.profile.motivation}}</p></li>
        </ul>
    </div>
</div>
<!--<div>
    <h2>
        <span data-translate="userManagement.detail.title">User</span> [<b>{{vm.user.login}}</b>]
    </h2>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="userManagement.login">Login</span></dt>
        <dd>
            <span>{{vm.user.login}}</span>
            <span class="label label-danger" ng-show="!vm.user.activated"
                  data-translate="userManagement.deactivated">Deactivated</span>
            <span class="label label-success" ng-show="vm.user.activated"
                  data-translate="userManagement.activated">Activated</span>
        </dd>
        <dt><span data-translate="userManagement.firstName">First Name</span></dt>
        <dd>{{vm.user.firstName}}</dd>
        <dt><span data-translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{vm.user.lastName}}</dd>
        <dt><span data-translate="userManagement.email">Email</span></dt>
        <dd>{{vm.user.email}}</dd>
        <dt><span data-translate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{vm.user.langKey}}</dd>
        <dt><span data-translate="userManagement.createdBy">Created By</span></dt>
        <dd>{{vm.user.createdBy}}</dd>
        <dt><span data-translate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{vm.user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span data-translate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{vm.user.lastModifiedBy}}</dd>
        <dt><span data-translate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span data-translate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="authority in vm.user.authorities">
                    <span class="label label-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            ui-sref="user-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
</div>-->