<div style="width:100%; height:20vh"></div>

<div class="container well">
    <h2 data-translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                   
                    <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profile.firstName"><span data-translate="userManagement.firstName">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profile.lastName"><span data-translate="userManagement.lastName">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                    <th jh-sort-by="profile.membership"> <span data-translate="userManagement.membership">Membership</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="userManagement.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="userManagement.authority">Profiles</span></th> 
                    <th jh-sort-by="lastModifiedBy"><span data-translate="userManagement.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users track by user.id">
                    <td><a ui-sref="user-management-detail({login:user.login})">{{user.login}}</a></td>
                    <td>{{user.profile.firstName}}</td>
                    <td>{{user.profile.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated" data-translate="userManagement.deactivated">Deactivated</button>
                        <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated" ng-disabled="vm.currentAccount.login === user.login" data-translate="userManagement.activated">Activated</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs"  ng-show="!user.profile.membership" data-translate="userManagement.notmember">Deactivated</button>
                        <button class="btn btn-success btn-xs"  ng-show="user.profile.membership"  data-translate="userManagement.member">Activated</button>
                    </td>
                    <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>
                        <div ng-repeat="authority in user.authorities">
                            <span class="label label-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{user.lastModifiedBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                            <button type="submit" ui-sref="user-management.edit({login:user.login})" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>