<div class="register">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-12">


                <div class="alert alert-success" ng-show="vm.success" data-translate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" ng-show="vm.error" data-translate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>

                <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">

                <fieldset>
                    <center>
                        <h2 style="color:blueviolet" data-translate="password.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]</h2>
                    </center>
                </fieldset>

                <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>
                    <md-content class="md-padding">
                        <div class="changepass">
                            <password>
                                <input dir="ltr" ng-model="vm.password" type="password">
                                <button type="button"></button>
                            </password>
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>
                            <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                        </div>
                        <div class="changepass">
                            <p data-translate="password.form.confirm" style="color:blueviolet">Confirm Password</p>
                            <password>
                                <input dir="ltr" type="password" ng-model="vm.confirmPassword">
                                <button type="button"></button>
                            </password>
                            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                <p class="help-block" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </p>
                                <p class="help-block" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </p>
                                <p class="help-block" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                    </md-content>
                    <div class="col-md-10" style="margin:10px 110px">
                        <button type="submit" ng-disabled="form.$invalid" class="button blue pull-center" data-translate="password.form.button">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>