<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel" data-translate="mawjoudin2App.comment.home.createOrEditLabel">Create or edit a Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.comment.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content" ng-model="vm.comment.content" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.comment.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.comment.creationDate" is-open="vm.datePickerOpenStatus.creationDate" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.comment.state" for="field_state">State</label>
            <input type="number" class="form-control" name="state" id="field_state" ng-model="vm.comment.state" />
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.comment.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" ng-model="vm.comment.subject" ng-options="subject as subject.id for subject in vm.subjects track by subject.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.comment.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" ng-model="vm.comment.profile" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>