<div>
    <h2><span data-translate="mawjoudin2App.comment.detail.title">Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.comment.content">Content</span></dt>
        <dd>
            <span>{{vm.comment.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.comment.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.comment.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.comment.state">State</span></dt>
        <dd>
            <span>{{vm.comment.state}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.comment.subject">Subject</span></dt>
        <dd>
            <a ui-sref="subject-detail({id:vm.comment.subject.id})">{{vm.comment.subject.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.comment.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.comment.profile.id})">{{vm.comment.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>