<div>
    <h2 data-translate="mawjoudin2App.message.home.title">Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="message.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.message.home.createLabel">
                        Create new Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="mawjoudin2App.message.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="mawjoudin2App.message.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="mawjoudin2App.message.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="seenDate"><span data-translate="mawjoudin2App.message.seenDate">Seen Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uid"><span data-translate="mawjoudin2App.message.uid">Uid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image.id"><span data-translate="mawjoudin2App.message.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sender.id"><span data-translate="mawjoudin2App.message.sender">Sender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiver.id"><span data-translate="mawjoudin2App.message.receiver">Receiver</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="message in vm.messages track by message.id">
                    <td><a ui-sref="message-detail({id:message.id})">{{message.id}}</a></td>
                    <td>{{message.content}}</td>
                    <td>{{message.creationDate | date:'medium'}}</td>
                    <td>{{message.state}}</td>
                    <td>{{message.seenDate | date:'medium'}}</td>
                    <td>{{message.uid}}</td>
                    <td>
                        <a ui-sref="image-detail({id:message.image.id})">{{message.image.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({id:message.sender.id})">{{message.sender.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({id:message.receiver.id})">{{message.receiver.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="message-detail({id:message.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="message.edit({id:message.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="message.delete({id:message.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
