
<div>
    <h2><span data-translate="mawjoudin2App.message.detail.title">Message</span> {{vm.message.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.message.content">Content</span></dt>
        <dd>
            <span>{{vm.message.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.message.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.state">State</span></dt>
        <dd>
            <span>{{vm.message.state}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.seenDate">Seen Date</span></dt>
        <dd>
            <span>{{vm.message.seenDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.uid">Uid</span></dt>
        <dd>
            <span>{{vm.message.uid}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.message.image.id})">{{vm.message.image.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.sender">Sender</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.message.sender.id})">{{vm.message.sender.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.message.receiver">Receiver</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.message.receiver.id})">{{vm.message.receiver.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="message-detail.edit({id:vm.message.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
