
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" data-translate="mawjoudin2App.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.message.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.message.content" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.message.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.message.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.message.state" for="field_state">State</label>
            <input type="number" class="form-control" name="state" id="field_state"
                    ng-model="vm.message.state"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.message.seenDate" for="field_seenDate">Seen Date</label>
                <div class="input-group">
                    <input id="field_seenDate" type="text" class="form-control" name="seenDate" datetime-picker="{{dateformat}}" ng-model="vm.message.seenDate" is-open="vm.datePickerOpenStatus.seenDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('seenDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.message.uid" for="field_uid">Uid</label>
            <input type="text" class="form-control" name="uid" id="field_uid"
                    ng-model="vm.message.uid"
                    />
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.message.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" ng-model="vm.message.image" ng-options="image as image.id for image in vm.images | orderBy:'id' track by image.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.message.sender" for="field_sender">Sender</label>
            <select class="form-control" id="field_sender" name="sender" ng-model="vm.message.sender" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.message.receiver" for="field_receiver">Receiver</label>
            <select class="form-control" id="field_receiver" name="receiver" ng-model="vm.message.receiver" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
