
<div>
    <h2><span data-translate="mawjoudin2App.image.detail.title">Image</span> {{vm.image.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.image.highRes">High Res</span></dt>
        <dd>
            <span>{{vm.image.highRes}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.image.normalRes">Normal Res</span></dt>
        <dd>
            <span>{{vm.image.normalRes}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.image.mediumRes">Medium Res</span></dt>
        <dd>
            <span>{{vm.image.mediumRes}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.image.thumbnail">Thumbnail</span></dt>
        <dd>
            <span>{{vm.image.thumbnail}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.image.newsLetter">News Letter</span></dt>
        <dd>
            <a ui-sref="news-letter-detail({id:vm.image.newsLetter.id})">{{vm.image.newsLetter.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.image.imageGallery">Image Gallery</span></dt>
        <dd>
            <a ui-sref="image-gallery-detail({id:vm.image.imageGallery.id})">{{vm.image.imageGallery.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="image-detail.edit({id:vm.image.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
