<div>
    <h2 data-translate="mawjoudin2App.image.home.title">Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.image.home.createLabel">
                        Create new Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="highRes"><span data-translate="mawjoudin2App.image.highRes">High Res</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="normalRes"><span data-translate="mawjoudin2App.image.normalRes">Normal Res</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mediumRes"><span data-translate="mawjoudin2App.image.mediumRes">Medium Res</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thumbnail"><span data-translate="mawjoudin2App.image.thumbnail">Thumbnail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newsLetter.id"><span data-translate="mawjoudin2App.image.newsLetter">News Letter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageGallery.id"><span data-translate="mawjoudin2App.image.imageGallery">Image Gallery</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in vm.images track by image.id">
                    <td><a ui-sref="image-detail({id:image.id})">{{image.id}}</a></td>
                    <td>{{image.highRes}}</td>
                    <td>{{image.normalRes}}</td>
                    <td>{{image.mediumRes}}</td>
                    <td>{{image.thumbnail}}</td>
                    <td>
                        <a ui-sref="news-letter-detail({id:image.newsLetter.id})">{{image.newsLetter.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="image-gallery-detail({id:image.imageGallery.id})">{{image.imageGallery.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-detail({id:image.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.edit({id:image.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.delete({id:image.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
