
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImageLabel" data-translate="mawjoudin2App.image.home.createOrEditLabel">Create or edit a Image</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.image.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.image.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.image.highRes" for="field_highRes">High Res</label>
            <input type="text" class="form-control" name="highRes" id="field_highRes"
                    ng-model="vm.image.highRes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.image.normalRes" for="field_normalRes">Normal Res</label>
            <input type="text" class="form-control" name="normalRes" id="field_normalRes"
                    ng-model="vm.image.normalRes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.image.mediumRes" for="field_mediumRes">Medium Res</label>
            <input type="text" class="form-control" name="mediumRes" id="field_mediumRes"
                    ng-model="vm.image.mediumRes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.image.thumbnail" for="field_thumbnail">Thumbnail</label>
            <input type="text" class="form-control" name="thumbnail" id="field_thumbnail"
                    ng-model="vm.image.thumbnail"
                    />
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.image.newsLetter" for="field_newsLetter">News Letter</label>
            <select class="form-control" id="field_newsLetter" name="newsLetter" ng-model="vm.image.newsLetter" ng-options="newsLetter as newsLetter.id for newsLetter in vm.newsletters track by newsLetter.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.image.imageGallery" for="field_imageGallery">Image Gallery</label>
            <select class="form-control" id="field_imageGallery" name="imageGallery" ng-model="vm.image.imageGallery" ng-options="imageGallery as imageGallery.id for imageGallery in vm.imagegalleries track by imageGallery.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
