<div>
    <h2><span data-translate="mawjoudin2App.friend.detail.title">Friend</span> {{vm.friend.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.friend.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.friend.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.friend.state">State</span></dt>
        <dd>
            <span>{{vm.friend.state}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.friend.sender">Sender</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.friend.sender.id})">{{vm.friend.sender.id}}</a>
        </dd>
        <dt><span data-translate="mawjoudin2App.friend.receiver">Receiver</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.friend.receiver.id})">{{vm.friend.receiver.id}}</a>
        </dd>
    </dl>

    <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="friend-detail.edit({id:vm.friend.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>