<div>
    <h2 data-translate="mawjoudin2App.slider.home.title">Sliders</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="slider.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.slider.home.createLabel">
                        Create new Slider
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="mawjoudin2App.slider.headlline">Headlline</span></th>
                    <th><span data-translate="mawjoudin2App.slider.simpleText">Simple Text</span></th>
                    <th><span data-translate="mawjoudin2App.slider.headlineFr">Headline Fr</span></th>
                    <th><span data-translate="mawjoudin2App.slider.simpleTextFr">Simple Text Fr</span></th>
                    <th><span data-translate="mawjoudin2App.slider.headlineAr">Headline Ar</span></th>
                    <th><span data-translate="mawjoudin2App.slider.simpleTextAr">Simple Text Ar</span></th>
                    <th><span data-translate="mawjoudin2App.slider.image">Image</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="slider in vm.sliders track by slider.id">
                    <td><a ui-sref="slider-detail({id:slider.id})">{{slider.id}}</a></td>
                    <td>{{slider.headlline}}</td>
                    <td>{{slider.simpleText}}</td>
                    <td>{{slider.headlineFr}}</td>
                    <td>{{slider.simpleTextFr}}</td>
                    <td>{{slider.headlineAr}}</td>
                    <td>{{slider.simpleTextAr}}</td>
                    <td>
                        <a ui-sref="image-detail({id:slider.image.id})">{{slider.image.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="slider-detail({id:slider.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="slider.edit({id:slider.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="slider.delete({id:slider.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
