
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySliderLabel" data-translate="mawjoudin2App.slider.home.createOrEditLabel">Create or edit a Slider</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.slider.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.slider.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.headlline" for="field_headlline">Headlline</label>
            <input type="text" class="form-control" name="headlline" id="field_headlline"
                    ng-model="vm.slider.headlline"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.simpleText" for="field_simpleText">Simple Text</label>
            <input type="text" class="form-control" name="simpleText" id="field_simpleText"
                    ng-model="vm.slider.simpleText"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.headlineFr" for="field_headlineFr">Headline Fr</label>
            <input type="text" class="form-control" name="headlineFr" id="field_headlineFr"
                    ng-model="vm.slider.headlineFr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.simpleTextFr" for="field_simpleTextFr">Simple Text Fr</label>
            <input type="text" class="form-control" name="simpleTextFr" id="field_simpleTextFr"
                    ng-model="vm.slider.simpleTextFr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.headlineAr" for="field_headlineAr">Headline Ar</label>
            <input type="text" class="form-control" name="headlineAr" id="field_headlineAr"
                    ng-model="vm.slider.headlineAr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.slider.simpleTextAr" for="field_simpleTextAr">Simple Text Ar</label>
            <input type="text" class="form-control" name="simpleTextAr" id="field_simpleTextAr"
                    ng-model="vm.slider.simpleTextAr"
                    />
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.slider.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" ng-model="vm.slider.image" ng-options="image as image.id for image in vm.images | orderBy:'id' track by image.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
