
<div>
    <h2><span data-translate="mawjoudin2App.slider.detail.title">Slider</span> {{vm.slider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.slider.headlline">Headlline</span></dt>
        <dd>
            <span>{{vm.slider.headlline}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.simpleText">Simple Text</span></dt>
        <dd>
            <span>{{vm.slider.simpleText}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.headlineFr">Headline Fr</span></dt>
        <dd>
            <span>{{vm.slider.headlineFr}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.simpleTextFr">Simple Text Fr</span></dt>
        <dd>
            <span>{{vm.slider.simpleTextFr}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.headlineAr">Headline Ar</span></dt>
        <dd>
            <span>{{vm.slider.headlineAr}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.simpleTextAr">Simple Text Ar</span></dt>
        <dd>
            <span>{{vm.slider.simpleTextAr}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.slider.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.slider.image.id})">{{vm.slider.image.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="slider-detail.edit({id:vm.slider.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
