
<div>
    <h2><span data-translate="mawjoudin2App.partner.detail.title">Partner</span> {{vm.partner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.partner.name">Name</span></dt>
        <dd>
            <span>{{vm.partner.name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.partner.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.partner.image.id})">{{vm.partner.image.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="partner-detail.edit({id:vm.partner.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
