<div id="sec4 " style="min-height:100vh;	background: linear-gradient(45deg, #f19872, #e86c9a);">
        <center>
            <div style="width:100%; height:10vh "></div>

            <h1 class="md-display-3 " style="text-transform: capitalize;color:white">
                    <b data-translate="home.partners">PARTNERS</b>
                </h1>
        </center>
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-sm-2 col-xs-3 " ng-repeat="partner in allPartners " tooltip-placement="top " uib-tooltip="{{partner.name}} ">
                    <img width="100% " height="auto " ng-src="{{partner.image.mediumRes}} ">
                </div>
            </div>
        </div>
        <div style="width:100%; height:10vh "></div>

    </div>