
<div>
    <h2><span data-translate="mawjoudin2App.resource.detail.title">Resource</span> {{vm.resource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.resource.title">Title</span></dt>
        <dd>
            <span>{{vm.resource.title}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.resource.description">Description</span></dt>
        <dd>
            <span>{{vm.resource.description}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.resource.filePath">File Path</span></dt>
        <dd>
            <span>{{vm.resource.filePath}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="resource-detail.edit({id:vm.resource.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
