<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <div class="row justify-content-center">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <center>
                    <h2 data-translate="mawjoudin2App.resource.home.title">Resources</h2>
                </center>
                
                <md-autocomplete md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="Chercher n'importe quoi...">
                    <md-item-template>
                        <div layout="row" class="item" layout-align="start center">

                            <span md-highlight-text="vm.searchText">{{item.title}}</span>
                        </div>
                    </md-item-template>


                </md-autocomplete>

                <br/>
                <div class="table-responsive" ng-show="vm.searchText!=''">
                    <table class="jh-table table table-striped">
                        <thead>
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th>
                                    <center>
                                        <span data-translate="global.field.type">Type</span>
                                    </center>
                                </th>
                                <th jh-sort-by="title"><span data-translate="mawjoudin2App.resource.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="description"><span data-translate="mawjoudin2App.resource.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="resource in searchRes track by $index">
                                <td>
                                    <center>
                                        <img width="30px" src="content/img/office.png" ng-show="{{resource.isdoc}}" />
                                        <img width="30px" src="content/img/pdf.png" ng-show="{{resource.IsPdf}}" />
                                    </center>
                                </td>
                                <td>{{resource.title}}</td>
                                <td>{{resource.description}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <a href="{{resource.filePath}}" target="_self" download="{{resource.downloadName}}" target="_self" class="btn btn-success">
                                            <i class="fa fa-arrow-down"></i>
                                            <span data-translate="entity.action.download">Download</span>
                                        </a>
                                        <button has-authority="ROLE_ADMIN" type="submit" ui-sref="resource.delete({id:resource.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="table-responsive" ng-hide="vm.searchText!=''">
                    <table class="jh-table table table-striped">
                        <thead>
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th>
                                    <center>
                                        <span data-translate="global.field.type">Type</span>
                                    </center>
                                </th>
                                <th jh-sort-by="title"><span data-translate="mawjoudin2App.resource.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="description"><span data-translate="mawjoudin2App.resource.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="resource in vm.resources track by $index">
                                <td>
                                    <center>
                                        <img width="30px" src="content/img/office.png" ng-show="{{resource.isdoc}}" />
                                        <img width="30px" src="content/img/pdf.png" ng-show="{{resource.IsPdf}}" />
                                    </center>
                                </td>
                                <td>{{resource.title}}</td>
                                <td>{{resource.description}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <a href="{{resource.filePath}}" target="_self" download="{{resource.downloadName}}" class="btn btn-success">
                                            <i class="fa fa-arrow-down"></i>
                                            <span data-translate="entity.action.download">Download</span>
                                        </a>
                                        <button has-authority="ROLE_ADMIN" type="submit" ui-sref="resource.delete({id:resource.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
            </div>
        </div>
    </div>
</div>