<div style="height:15vh; width:100%"></div>

<div class="container">
    <h2><span data-translate="mawjoudin2App.questionnaire.detail.title">Questionnaire</span> {{vm.questionnaire.fullName}}{{vm.questionnaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <h1>Personal Informations</h1>
    <dl class=" well">
        <dt><span data-translate="mawjoudin2App.questionnaire.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.questionnaire.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.fullName">Full Name</span></dt>
        <dd>
            <span>{{vm.questionnaire.fullName}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.questionnaire.phoneNumber}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.email">Email</span></dt>
        <dd>
            <span>{{vm.questionnaire.email}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.biologicalSex">Biological Sex</span></dt>
        <dd>
            <span>{{bsexes[vm.questionnaire.biologicalSex-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.genderIdentity">Gender Identity</span></dt>
        <dd>
            <span>{{gidentities[vm.questionnaire.genderIdentity-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.sexualOrientation">Sexual Orientation</span></dt>
        <dd>
            <span>{{sexualOrientations[vm.questionnaire.sexualOrientation-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.age">Age</span></dt>
        <dd>
            <span>{{vm.questionnaire.age}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.adress">Adress</span></dt>
        <dd>
            <span>{{vm.questionnaire.adress}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.liveIn">Live In</span></dt>
        <dd>
            <span>{{liveIns[vm.questionnaire.liveIn-1].name}}</span>
        </dd>

        <dt><span data-translate="mawjoudin2App.questionnaire.nationality">Nationality</span></dt>
        <dd>
            <span>{{vm.questionnaire.nationality}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.connectionWithLgbt">Connection With Lgbt</span></dt>
        <dd>
            <span>{{lgbCons[vm.questionnaire.connectionWithLgbt-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.extent">Extent</span></dt>
        <dd>
            <span>{{extents[vm.questionnaire.extent-1].name}}</span>
        </dd>
    </dl>
    <h1> Incident Details</h1>
    <dl class="well">
        <dt><span data-translate="mawjoudin2App.questionnaire.trueDateOfIncident">True Date Of Incident</span></dt>
        <dd>
            <span>{{vm.questionnaire.trueDateOfIncident | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.adressIncident">Adress Incident</span></dt>
        <dd>
            <span>{{vm.questionnaire.adressIncident}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.placeIncident">Place Incident</span></dt>
        <dd>
            <span>{{places[vm.questionnaire.placeIncident-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.typeOfIncident">Type Of Incident</span></dt>
        <dd>
            <span ng-repeat="type in typesofIncident"><br>-{{verbalInc[(type.id)-1].name}}</span>

        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.incidentDescription">Incident Description</span></dt>
        <dd>
            <span>{{vm.questionnaire.incidentDescription}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.occurenceIncident">Occurence Incident</span></dt>
        <dd>
            <span>{{vm.questionnaire.occurenceIncident}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.numberPerpetrators">Number Perpetrators</span></dt>
        <dd>
            <span>{{vm.questionnaire.numberPerpetrators}}</span>
        </dd>

        <dt ng-show="vm.questionnaire.threatDescription===null"><span data-translate="mawjoudin2App.questionnaire.isThreat">is threat</span></dt>
        <dd ng-show="vm.questionnaire.threatDescription===null">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt ng-hide="vm.questionnaire.threatDescription===null"><span data-translate="mawjoudin2App.questionnaire.isThreat">is threat</span></dt>
        <dd ng-hide="vm.questionnaire.threatDescription===null">
            <span data-translate="global.form.yes">Yes</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.threatDescription">Threat Description</span></dt>
        <dd>
            <span>{{vm.questionnaire.threatDescription}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.identityperpetrator">Identityperpetrator</span></dt>
        <dd>
            <span>{{preIdentity[vm.questionnaire.identityperpetrator-1].name}}</span>
        </dd>
        <dt ng-show="vm.questionnaire.identifierPerpetrator===null"><span data-translate="mawjoudin2App.questionnaire.ifidentifier">is Identifier</span></dt>
        <dd ng-show="vm.questionnaire.identifierPerpetrator===null">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt ng-hide="vm.questionnaire.identifierPerpetrator===null"><span data-translate="mawjoudin2App.questionnaire.ifidentifier">is identifier</span></dt>
        <dd ng-hide="vm.questionnaire.identifierPerpetrator===null">
            <span data-translate="global.form.yes">Yes</span>
        </dd>


        <dt><span data-translate="mawjoudin2App.questionnaire.identifierPerpetrator">Identifier Perpetrator</span></dt>
        <dd>
            <span>{{vm.questionnaire.identifierPerpetrator}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.agePerpetrator">Age Perpetrator</span></dt>
        <dd>
            <span>{{vm.questionnaire.agePerpetrator}}</span>
        </dd>

        <dt ng-show="vm.questionnaire.witnessReaction===null"><span data-translate="mawjoudin2App.questionnaire.ifWitnesses">is witness</span></dt>
        <dd ng-show="vm.questionnaire.witnessReaction===null">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt ng-hide="vm.questionnaire.witnessReaction===null"><span data-translate="mawjoudin2App.questionnaire.ifWitnesses">is witness</span></dt>
        <dd ng-hide="vm.questionnaire.witnessReaction===null">
            <span data-translate="global.form.yes">Yes</span>
        </dd>


        <dt><span data-translate="mawjoudin2App.questionnaire.witnessReaction">Witness Reaction</span></dt>
        <dd>
            <span>{{vm.questionnaire.witnessReaction}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.witnessDetail">Witness Detail</span></dt>
        <dd>
            <span>{{vm.questionnaire.witnessDetail}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.incidentLink">Incident Link</span></dt>
        <dd>
            <span>{{linkInc[vm.questionnaire.incidentLink-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.incidentLinkIndic">Incident Link Indic</span></dt>
        <dd>
            <span>{{LinkIncWhy[vm.questionnaire.incidentLinkIndic-1].name}}</span>
        </dd>
    </dl>
    <h1>Impact</h1>
    <dl class="well">
        <dt><span data-translate="mawjoudin2App.questionnaire.impact">Impact</span></dt>
        <dd>
            <span>{{affect[vm.questionnaire.impact-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.impactDetail">Impact Detail</span></dt>
        <dd>
            <span>{{vm.questionnaire.impactDetail}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.medicalCare">Medical Care</span></dt>
        <dd>
            <span>{{yorno[vm.questionnaire.medicalCare-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.medicalStaff">Medical Staff</span></dt>
        <dd>
            <span>{{vm.questionnaire.medicalStaff}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.psyImact">Psy Imact</span></dt>
        <dd>
            <span>{{vm.questionnaire.psyImact}}</span>
        </dd>
        <dt ng-show="vm.questionnaire.supportKind>0"><span data-translate="mawjoudin2App.questionnaire.isSupport">isSupport</span></dt>
        <dd ng-show="vm.questionnaire.supportKind>0">
            <span data-translate="global.form.yes">Yes</span>
        </dd>
        <dt ng-hide="vm.questionnaire.supportKind>0"><span data-translate="mawjoudin2App.questionnaire.isSupport">isSupport</span></dt>
        <dd ng-hide="vm.questionnaire.supportKind>0">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.supportKind">Support Kind</span></dt>
        <dd>
            <span>{{support[vm.questionnaire.supportKind-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.police">Police</span></dt>
        <dd>
            <span>{{yorno[vm.questionnaire.police-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.policeDescYes" ng-show="vm.questionnaire.police===1">Police Desc</span></dt>
        <dt><span data-translate="mawjoudin2App.questionnaire.policeDescNo" ng-show="vm.questionnaire.police===2">Police Desc</span></dt>

        <dd>
            <span>{{vm.questionnaire.policeDesc}}</span>
        </dd>
        <dt ng-show="vm.questionnaire.forciblyPolice===null"><span data-translate="mawjoudin2App.questionnaire.isForcibly">is force</span></dt>
        <dd ng-show="vm.questionnaire.forciblyPolice===null">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt ng-hide="vm.questionnaire.forciblyPolice===null"><span data-translate="mawjoudin2App.questionnaire.isForcibly">is force</span></dt>
        <dd ng-hide="vm.questionnaire.forciblyPolice===null">
            <span data-translate="global.form.yes">Yes</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.forciblyPolice">Forcibly Police</span></dt>
        <dd>
            <span>{{vm.questionnaire.forciblyPolice}}</span>
        </dd>
        <dt ng-show="vm.questionnaire.arrestPeriod===null"><span data-translate="mawjoudin2App.questionnaire.isArrest">is arrest</span></dt>
        <dd ng-show="vm.questionnaire.arrestPeriod===null">
            <span data-translate="global.form.no">No</span>
        </dd>
        <dt ng-hide="vm.questionnaire.arrestPeriod===null"><span data-translate="mawjoudin2App.questionnaire.isArrest">is arrest</span></dt>
        <dd ng-hide="vm.questionnaire.arrestPeriod===null">
            <span data-translate="global.form.yes">Yes</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.arrestPeriod">Arrest Period</span></dt>
        <dd>
            <span>{{vm.questionnaire.arrestPeriod}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.arrestMotif">Arrest Motif</span></dt>
        <dd>
            <span>{{arMotif[vm.questionnaire.arrestMotif-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.arrestDetail">Arrest Detail</span></dt>
        <dd>
            <span>{{vm.questionnaire.arrestDetail}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.incidentReport">Incident Report</span></dt>
        <dd>
            <span>{{reportTo[vm.questionnaire.incidentReport-1].name}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.questionnaire.anythingToAdd">Anything To Add</span></dt>
        <dd>
            <span>{{vm.questionnaire.anythingToAdd}}</span>
        </dd>

    </dl>



</div>