<style>
    .modal.fade .modal-dialog {
        margin-top: 20% !important;
    }
    
    .modal-backdrop {
        position: fixed !important;
    }
    
    md-input-container label:not(._md-container-ignore) {
        position: relative !important;
    }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionnaireLabel" data-translate="mawjoudin2App.questionnaire.home.createOrEditLabel">Create or edit a Questionnaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.questionnaire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.questionnaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.fullName" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName" ng-model="vm.questionnaire.fullName" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.biologicalSex" for="field_biologicalSex">Biological Sex</label>
            <input type="number" class="form-control" name="biologicalSex" id="field_biologicalSex" ng-model="vm.questionnaire.biologicalSex" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.genderIdentity" for="field_genderIdentity">Gender Identity</label>
            <input type="number" class="form-control" name="genderIdentity" id="field_genderIdentity" ng-model="vm.questionnaire.genderIdentity" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.sexualOrientation" for="field_sexualOrientation">Sexual Orientation</label>
            <input type="number" class="form-control" name="sexualOrientation" id="field_sexualOrientation" ng-model="vm.questionnaire.sexualOrientation" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age" ng-model="vm.questionnaire.age" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress" ng-model="vm.questionnaire.adress" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.liveIn" for="field_liveIn">Live In</label>
            <input type="number" class="form-control" name="liveIn" id="field_liveIn" ng-model="vm.questionnaire.liveIn" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" ng-model="vm.questionnaire.phoneNumber" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email" ng-model="vm.questionnaire.email" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.nationality" for="field_nationality">Nationality</label>
            <input type="text" class="form-control" name="nationality" id="field_nationality" ng-model="vm.questionnaire.nationality" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.connectionWithLgbt" for="field_connectionWithLgbt">Connection With Lgbt</label>
            <input type="number" class="form-control" name="connectionWithLgbt" id="field_connectionWithLgbt" ng-model="vm.questionnaire.connectionWithLgbt" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.extent" for="field_extent">Extent</label>
            <input type="number" class="form-control" name="extent" id="field_extent" ng-model="vm.questionnaire.extent" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.trueDateOfIncident" for="field_trueDateOfIncident">True Date Of Incident</label>
            <div class="input-group">
                <input id="field_trueDateOfIncident" type="text" class="form-control" name="trueDateOfIncident" datetime-picker="{{dateformat}}" ng-model="vm.questionnaire.trueDateOfIncident" is-open="vm.datePickerOpenStatus.trueDateOfIncident" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('trueDateOfIncident')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.adressIncident" for="field_adressIncident">Adress Incident</label>
            <input type="text" class="form-control" name="adressIncident" id="field_adressIncident" ng-model="vm.questionnaire.adressIncident" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.placeIncident" for="field_placeIncident">Place Incident</label>
            <input type="number" class="form-control" name="placeIncident" id="field_placeIncident" ng-model="vm.questionnaire.placeIncident" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.typeOfIncident" for="field_typeOfIncident">Type Of Incident</label>
            <input type="text" class="form-control" name="typeOfIncident" id="field_typeOfIncident" ng-model="vm.questionnaire.typeOfIncident" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.incidentDescription" for="field_incidentDescription">Incident Description</label>
            <textarea class="form-control" name="incidentDescription" id="field_incidentDescription" ng-model="vm.questionnaire.incidentDescription"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.occurenceIncident" for="field_occurenceIncident">Occurence Incident</label>
            <input type="number" class="form-control" name="occurenceIncident" id="field_occurenceIncident" ng-model="vm.questionnaire.occurenceIncident" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.numberPerpetrators" for="field_numberPerpetrators">Number Perpetrators</label>
            <input type="number" class="form-control" name="numberPerpetrators" id="field_numberPerpetrators" ng-model="vm.questionnaire.numberPerpetrators" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.threatDescription" for="field_threatDescription">Threat Description</label>
            <textarea class="form-control" name="threatDescription" id="field_threatDescription" ng-model="vm.questionnaire.threatDescription"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.identityperpetrator" for="field_identityperpetrator">Identityperpetrator</label>
            <input type="number" class="form-control" name="identityperpetrator" id="field_identityperpetrator" ng-model="vm.questionnaire.identityperpetrator" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.identifierPerpetrator" for="field_identifierPerpetrator">Identifier Perpetrator</label>
            <textarea class="form-control" name="identifierPerpetrator" id="field_identifierPerpetrator" ng-model="vm.questionnaire.identifierPerpetrator"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.agePerpetrator" for="field_agePerpetrator">Age Perpetrator</label>
            <input type="text" class="form-control" name="agePerpetrator" id="field_agePerpetrator" ng-model="vm.questionnaire.agePerpetrator" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.witnessReaction" for="field_witnessReaction">Witness Reaction</label>
            <textarea class="form-control" name="witnessReaction" id="field_witnessReaction" ng-model="vm.questionnaire.witnessReaction"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.witnessDetail" for="field_witnessDetail">Witness Detail</label>
            <textarea class="form-control" name="witnessDetail" id="field_witnessDetail" ng-model="vm.questionnaire.witnessDetail"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.incidentLink" for="field_incidentLink">Incident Link</label>
            <input type="number" class="form-control" name="incidentLink" id="field_incidentLink" ng-model="vm.questionnaire.incidentLink" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.incidentLinkIndic" for="field_incidentLinkIndic">Incident Link Indic</label>
            <input type="number" class="form-control" name="incidentLinkIndic" id="field_incidentLinkIndic" ng-model="vm.questionnaire.incidentLinkIndic" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.impact" for="field_impact">Impact</label>
            <input type="number" class="form-control" name="impact" id="field_impact" ng-model="vm.questionnaire.impact" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.impactDetail" for="field_impactDetail">Impact Detail</label>
            <textarea class="form-control" name="impactDetail" id="field_impactDetail" ng-model="vm.questionnaire.impactDetail"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.medicalCare" for="field_medicalCare">Medical Care</label>
            <input type="number" class="form-control" name="medicalCare" id="field_medicalCare" ng-model="vm.questionnaire.medicalCare" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.medicalStaff" for="field_medicalStaff">Medical Staff</label>
            <textarea class="form-control" name="medicalStaff" id="field_medicalStaff" ng-model="vm.questionnaire.medicalStaff"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.psyImact" for="field_psyImact">Psy Imact</label>
            <textarea class="form-control" name="psyImact" id="field_psyImact" ng-model="vm.questionnaire.psyImact"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.supportKind" for="field_supportKind">Support Kind</label>
            <input type="number" class="form-control" name="supportKind" id="field_supportKind" ng-model="vm.questionnaire.supportKind" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.police" for="field_police">Police</label>
            <input type="number" class="form-control" name="police" id="field_police" ng-model="vm.questionnaire.police" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.policeDesc" for="field_policeDesc">Police Desc</label>
            <textarea class="form-control" name="policeDesc" id="field_policeDesc" ng-model="vm.questionnaire.policeDesc"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.forciblyPolice" for="field_forciblyPolice">Forcibly Police</label>
            <input type="text" class="form-control" name="forciblyPolice" id="field_forciblyPolice" ng-model="vm.questionnaire.forciblyPolice" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.arrestPeriod" for="field_arrestPeriod">Arrest Period</label>
            <input type="text" class="form-control" name="arrestPeriod" id="field_arrestPeriod" ng-model="vm.questionnaire.arrestPeriod" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.arrestMotif" for="field_arrestMotif">Arrest Motif</label>
            <input type="number" class="form-control" name="arrestMotif" id="field_arrestMotif" ng-model="vm.questionnaire.arrestMotif" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.arrestDetail" for="field_arrestDetail">Arrest Detail</label>
            <textarea class="form-control" name="arrestDetail" id="field_arrestDetail" ng-model="vm.questionnaire.arrestDetail"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.incidentReport" for="field_incidentReport">Incident Report</label>
            <input type="number" class="form-control" name="incidentReport" id="field_incidentReport" ng-model="vm.questionnaire.incidentReport" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.questionnaire.anythingToAdd" for="field_anythingToAdd">Anything To Add</label>
            <textarea class="form-control" name="anythingToAdd" id="field_anythingToAdd" ng-model="vm.questionnaire.anythingToAdd"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>