<div style="width:100%; height:20vh"></div>

<div class="well container">

    <h1 data-translate="mawjoudin2App.questionnaire.home.title">Questionnaires</h1>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullName"><span data-translate="mawjoudin2App.questionnaire.fullName">Full Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="mawjoudin2App.questionnaire.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adress"><span data-translate="mawjoudin2App.questionnaire.adress">Adress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span data-translate="mawjoudin2App.questionnaire.phoneNumber">Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="mawjoudin2App.questionnaire.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nationality"><span data-translate="mawjoudin2App.questionnaire.nationality">Nationality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trueDateOfIncident"><span data-translate="mawjoudin2App.questionnaire.trueDateOfIncident">True Date Of Incident</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="mawjoudin2App.questionnaire.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="questionnaire in vm.questionnaires track by questionnaire.id">
                    <td><a ui-sref="questionnaire-detail({id:questionnaire.id})">{{questionnaire.id}}</a></td>
                    <td>{{questionnaire.fullName}}</td>

                    <td>{{questionnaire.age}}</td>
                    <td>{{questionnaire.adress}}</td>
                    <td>{{questionnaire.phoneNumber}}</td>
                    <td>{{questionnaire.email}}</td>
                    <td>{{questionnaire.nationality}}</td>

                    <td>{{questionnaire.trueDateOfIncident | date:'medium'}}</td>

                    <td>{{questionnaire.creationDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="questionnaire-detail({id:questionnaire.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="questionnaire.edit({id:questionnaire.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="questionnaire.delete({id:questionnaire.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>