<div>
    <h2 data-translate="mawjoudin2App.imageGallery.home.title">Image Galleries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image-gallery.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.imageGallery.home.createLabel">
                        Create new Image Gallery
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="mawjoudin2App.imageGallery.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="mawjoudin2App.imageGallery.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="mawjoudin2App.imageGallery.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profile.id"><span data-translate="mawjoudin2App.imageGallery.profile">Profile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="imageGallery in vm.imageGalleries track by imageGallery.id">
                    <td><a ui-sref="image-gallery-detail({id:imageGallery.id})">{{imageGallery.id}}</a></td>
                    <td>{{imageGallery.creationDate | date:'medium'}}</td>
                    <td>{{imageGallery.description}}</td>
                    <td>{{imageGallery.type}}</td>
                    <td>
                        <a ui-sref="profile-detail({id:imageGallery.profile.id})">{{imageGallery.profile.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-gallery-detail({id:imageGallery.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-gallery.edit({id:imageGallery.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-gallery.delete({id:imageGallery.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
