
<div>
    <h2><span data-translate="mawjoudin2App.imageGallery.detail.title">Image Gallery</span> {{vm.imageGallery.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.imageGallery.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.imageGallery.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.imageGallery.description">Description</span></dt>
        <dd>
            <span>{{vm.imageGallery.description}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.imageGallery.type">Type</span></dt>
        <dd>
            <span>{{vm.imageGallery.type}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.imageGallery.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.imageGallery.profile.id})">{{vm.imageGallery.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="image-gallery-detail.edit({id:vm.imageGallery.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
