
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGlossaireLabel" data-translate="mawjoudin2App.glossaire.home.createOrEditLabel">Create or edit a Glossaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.glossaire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.glossaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.glossaire.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.glossaire.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.glossaire.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.glossaire.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.glossaire.lang" for="field_lang">Lang</label>
            <input type="number" class="form-control" name="lang" id="field_lang"
                    ng-model="vm.glossaire.lang"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
