
<div>
    <h2><span data-translate="mawjoudin2App.glossaire.detail.title">Glossaire</span> {{vm.glossaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.glossaire.title">Title</span></dt>
        <dd>
            <span>{{vm.glossaire.title}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.glossaire.description">Description</span></dt>
        <dd>
            <span>{{vm.glossaire.description}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.glossaire.lang">Lang</span></dt>
        <dd>
            <span>{{vm.glossaire.lang}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="glossaire-detail.edit({id:vm.glossaire.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
