<div class="loginbk">
    <div style="height:10vh;width:100%"></div>
    <div class="row justify-content-center">
        <div class="dashboardcard col-md-10" style="opacity:.75">
            <md-content>
                    <h1 class="md-display-3">Glossary</h1>

                    <md-list style="padding-top:40px">
                        <md-list-item ng-repeat="glossaire in allGlossaire | orderBy:glossaire.title" class="secondary-button-padding">

                            <h2><b>{{glossaire.title}} </b>

                            </h2>
                           
                            <p style="padding-left:30px">
                                {{glossaire.description}}
                            </p>
                        
                        </md-list-item>
                    </md-list>

                </md-content>
                </div>
       </div>
</div>