<div>
    <h2 data-translate="mawjoudin2App.qanda.home.title">Qandas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="qanda.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="mawjoudin2App.qanda.home.createLabel">
                        Create new Qanda
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="mawjoudin2App.qanda.question">Question</span></th>
                    <th><span data-translate="mawjoudin2App.qanda.answer">Answer</span></th>
                    <th><span data-translate="mawjoudin2App.qanda.lang">Lang</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qanda in vm.qandas track by qanda.id">
                    <td><a ui-sref="qanda-detail({id:qanda.id})">{{qanda.id}}</a></td>
                    <td>{{qanda.question}}</td>
                    <td>{{qanda.answer}}</td>
                    <td>{{qanda.lang}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="qanda-detail({id:qanda.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qanda.edit({id:qanda.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qanda.delete({id:qanda.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
