
<div>
    <h2><span data-translate="mawjoudin2App.qanda.detail.title">Qanda</span> {{vm.qanda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.qanda.question">Question</span></dt>
        <dd>
            <span>{{vm.qanda.question}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.qanda.answer">Answer</span></dt>
        <dd>
            <span>{{vm.qanda.answer}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.qanda.lang">Lang</span></dt>
        <dd>
            <span>{{vm.qanda.lang}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="qanda-detail.edit({id:vm.qanda.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
