
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQandaLabel" data-translate="mawjoudin2App.qanda.home.createOrEditLabel">Create or edit a Qanda</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.qanda.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.qanda.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.qanda.question" for="field_question">Question</label>
                <textarea class="form-control" name="question" id="field_question"
                    ng-model="vm.qanda.question" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.qanda.answer" for="field_answer">Answer</label>
                <textarea class="form-control" name="answer" id="field_answer"
                    ng-model="vm.qanda.answer" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.qanda.lang" for="field_lang">Lang</label>
            <input type="number" class="form-control" name="lang" id="field_lang"
                    ng-model="vm.qanda.lang"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
