<div style="min-height:100vh; background: linear-gradient(45deg, #9d316e, #de2d3e);">





        <div class="row ">
                <div class="container " style="width:100% ">
                    <div style="height:15vh "></div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 ">
                    <center>
                        <img src="content/images/main_logo.png " style="height:auto;width:45% ">
                    </center>
                    <center>
                        <img src="content/images/main_title.png " style="height:15vh;width:auto ">
                    </center>
                </div>
    
                <div class="col-md-7" style="color:white">
                        <div style="height:15vh "></div>

                    <p style=" display: inline-block;
                vertical-align: middle;
                line-height: normal; color:white; margin:10%; margin-bottom:5%;margin-top:0%"> {{ description.content}}
                    </p>
                    <div class="row" style="margin-left:10%;margin-right:10%">
                        <div class="col-md-2">
                            <div ui-sref="news " class="container" style="cursor:pointer;">
                                <center>
                                    <img src="content/images/smartphone.svg " style="height:auto;width:75% ">
                                </center>
                                <br>
    
                                <center>
    
                                    <h3 class="hidden-sm-down" data-translate="global.menu.entities.news ">NEWS</h3>
                                </center>
    
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div ui-sref="project" class="container" style="cursor:pointer;">
                                <center>
                                    <img src="content/images/calendar.svg " style="height:auto;width:75% ">
                                </center>
                                <br>
                                <center>
                                    <h3 class="hidden-sm-down" data-translate="global.menu.entities.project">Projects</h3>
                                </center>
    
                            </div>
                        </div>
    
                        <div class="col-md-2">
                            <div ui-sref="blog" class="container" style="cursor:pointer;">
                                <center>
                                    <img src="content/images/network.svg " style="height:auto;width:75% ">
                                </center>
                                <br>
                                <center>
                                    <h3 class="hidden-sm-down" data-translate="global.menu.entities.blog">Blogs</h3>
                                </center>
    
                            </div>
                        </div>
    
                        <div class="col-md-2">
                            <div ui-sref="membershome" class="container" style="cursor:pointer;">
                                <center>
                                    <img src="content/images/share.svg " style="height:auto;width:75% ">
                                </center>
                                <br>
                                <center>
                                    <h3 class="hidden-sm-down" data-translate="global.menu.entities.community">COMMUNITY</h3>
                                </center>
    
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div ui-sref="questionnaire.new" class="container" style="cursor:pointer;">
                                <center>
                                    <img src="content/images/attention.svg " style="height:auto;width:75% ">
                                </center>
                                <br>
                                <center>
                                    <h3 class="hidden-sm-down" data-translate="global.incident">DECLARE INCIDENT</h3>
                                </center>
    
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <div class="container " style="width:100% ">
                    <div style="height:15vh "></div>
                </div>
    
    
    
            </div>









</div>