
<div>
    <h2><span data-translate="mawjoudin2App.siteDescription.detail.title">Site Description</span> {{vm.siteDescription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.siteDescription.content">Content</span></dt>
        <dd>
            <span>{{vm.siteDescription.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.siteDescription.lang">Lang</span></dt>
        <dd>
            <span>{{vm.siteDescription.lang}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="site-description-detail.edit({id:vm.siteDescription.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
