<div class="loginbk">
    <div class="login">

        <h4 class="md-display-2" data-translate="login.title" layout="row justify-content-center" layout-align="center center">Sign in</h4>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>
                <div class="col-md-8">
                    <form  class="form cd-form floating-labels" role="form" ng-submit="vm.login($event)">

                        <div class="icon" dir="ltr">
                            <label class="cd-label" for="cd-name" data-translate="login.form.username">Nickname</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" class="user" ng-model="vm.username" type="text" name="cd-name" id="cd-name">
                        </div>

                        <div class="icon" dir="ltr" >
                            <label class="cd-label" for="cd-password" data-translate="login.form.password">Password</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px"  class="password" ng-model="vm.password" ng-minlength=4 ng-maxlength=50 type="password">
                            <a class="hide-password" data-translate="login.form.show">Show</a>

                        </div>
                        <ul dir="ltr"  class="cd-form-list">
                            <li>
                                <input style="font-family: 'Nunito', sans-serif;font-size:15px" type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                                <label style="font-family: 'Nunito', sans-serif;font-size:15px" for="cd-checkbox-1" data-translate="login.form.rememberme">Remember me </label>
                            </li>
                        </ul>
                        <center>

                            <div class="col-md-10 md-offset-2">
                                <center>
                                <button width="50%" class="cta ctasucess" type="submit" data-translate="login.form.button" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;margin-left:10%;width:100%">Sign in</button>
                                </center>
                            </div>
                        </center>
                    </form>
                    <p></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='cta ctadanger' style="background:orange" ng-click="vm.requestResetPassword()">
                                <span data-translate="login.password.forgot">forget your password?</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='cta ctasucess' style="background:orange" ng-click="vm.register()">
                                <span data-translate="global.messages.info.register">Register a new account</span>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        

    </div>
</div>
<script src="content/js/main.js"></script>