<style>
    .modal-dialog {
        padding-top: 20%;
    }

    .modal-backdrop {
        position: relative !important;
    }

    md-input-container label:not(._md-container-ignore) {
        position: relative !important;
    }

    .row.fix {
        display: flex;
        flex-wrap: wrap;
    }

</style>
<div class="loadr" style="position:fixed;z-index:100" ng-show="iscompleted">
    <div class="hoja" data-translate="dashboard.loading">Loading...</div>
</div>
<div class="Dashboardbk" ng-style="iscompleted && {'-webkit-filter': 'blur(5px)',
    'filter': 'blur(5px)'}">
    <div style="width:100%; height:20vh"></div>
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <div class="dashboardcard" style="min-height:20vh">
                <md-content>
                    <center>
                        <h3>
                            <strong data-translate="dashboard.hello"> Hello </strong>
                            <b> {{vm.account.firstName}} </b>,
                            <em data-translate="dashboard.action"> what are you gonna do today ?</em>
                        </h3>
                    </center>
                </md-content>
                <md-content layout-padding="">
                    <div class="col-xs-3">
                        <center>
                            <a ng-click="vm.choice=1">
                                <h1 class="md-display-2" tooltip-placement="right" uib-tooltip="{{'dashboard.news' | translate}}">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-3">
                        <center>
                            <a ng-click="vm.choice=2">
                                <h1 class="md-display-2" tooltip-placement="right" uib-tooltip="{{'dashboard.newsletter' | translate}}">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-3">
                        <center>
                            <a ng-click="vm.choice=3">
                                <h1 class="md-display-2" tooltip-placement="right" uib-tooltip="{{'dashboard.projects' | translate}}">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-3">
                        <center>
                            <a ng-click="vm.choice=4">
                                <h1 class="md-display-2" tooltip-placement="left" uib-tooltip="{{'dashboard.calendar' | translate}}">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                </md-content>
                <md-content>
                    <center>
                        <md-button ng-click="switchdetails()" data-translate="dashboard.details">Other Details</md-button>
                    </center>
                </md-content>
                <md-content ng-show="details===1">
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="Glossairepart()">
                                <h1 class="md-display-1" tooltip-placement="right" uib-tooltip="{{'dashboard.glossary' | translate}}">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="vm.choice=6">
                                <h1 class="md-display-1" tooltip-placement="right" uib-tooltip="{{'dashboard.partners' | translate}}">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="Blogpart()">
                                <h1 class="md-diplay-1" tooltip-placement="right" uib-tooltip="{{'dashboard.blog' | translate}}">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="vm.choice=8">
                                <h1 class="md-diplay-1" tooltip-placement="right" uib-tooltip="{{'dashboard.chat' | translate}}">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="vm.choice=9">
                                <h1 class="md-diplay-1" tooltip-placement="right" uib-tooltip="{{'dashboard.about' | translate}}">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="vm.choice=10">
                                <h1 class="md-diplay-1" tooltip-placement="left" uib-tooltip="{{'dashboard.description' | translate}}">
                                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="vm.choice=11">
                                <h1 class="md-diplay-1" tooltip-placement="left" uib-tooltip="{{'dashboard.slider' | translate}}">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ng-click="resource()">
                                <h1 class="md-diplay-1" tooltip-placement="left" uib-tooltip="{{'dashboard.resource' | translate}}">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                    <div class="col-xs-1">
                        <center>
                            <a ui-sref="questionnaire">
                                <h1 class="md-diplay-1" tooltip-placement="left" uib-tooltip="{{'dashboard.report' | translate}}">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </center>
                    </div>
                </md-content>
            </div>
            <!-- News choice -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===1">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{'dashboard.new' | translate}}">
                            <md-content lclass="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.new">New Article</h1>
                                <div>
                                    <form name="editForm" role="form" novalidate ng-submit="vm.save()">
                                        <md-input-container class="col-md-10">
                                            <label data-translate="dashboard.newtitle">News Title</label>
                                            <input ng-model="vm.news.news.title" required>
                                        </md-input-container>
                                        <md-input-container class="col-md-10">
                                            <label data-translate="dashboard.newresume">News summary</label>
                                            <textarea ng-model="vm.news.news.resume" md-maxlength="200" rows="3" md-select-on-focus required></textarea>
                                        </md-input-container>
                                        <div class="col-md-10">
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="vm.news.news.description" config="options" min-height="400" editor="editor" editable="editable" on-image-upload="imageUpload(files)"></summernote>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <center>
                                                <h4 data-translate="dashboard.cover">Cover</h4>
                                            </center>
                                            <a data-toggle="modal" data-target="#myModal">
                                                <center>
                                                    <img ng-show="myCroppedImage!=''" class="img-rounded" ng-src="{{myCroppedImage}}" style="width:100%; height: auto" />
                                                    <img ng-hide="myCroppedImage!=''" class="img-rounded" src="content/images/user.gif" style="width:100%; height: auto" />
                                                </center>
                                            </a>
                                            <div style="margin-top:10vh">
                                                <center>
                                                    <button type="submit" ng-disabled="vm.isSaving" class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                                                        <span data-translate="entity.action.save">Save</span>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="{{'dashboard.recentnew' | translate}}">
                            <md-content class="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.recentnew">Recent Articles
                                    <a tooltip-placement="top" uib-tooltip="see all News">
                                        <i ui-sref="news" class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    </a>
                                </h1>
                                <div class=" row fix">
                                    <div ng-repeat="article in recentArticles" class="col-md-4">
                                        <md-card style="background:#853163; color:white">
                                            <a ui-sref="news-detail({id:article.id})">
                                                <img width="100%" height="auto" ng-show="article.image===null" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image"
                                                    alt="Washed Out">
                                                <img width="100%" height="auto" ng-hide="article.image===null" ng-src="{{article.image.mediumRes}}" class="md-card-image"
                                                    alt="Washed Out">
                                            </a>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{article.title}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>{{article.resume}} </p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button ui-sref="news-detail({id:article.id})" data-translate="entity.action.view"> Consulter</md-button>
                                                <md-button ui-sref="news-detail.edit({id:article.id})" data-translate="entity.action.edit">modifier</md-button>
                                            </md-card-actions>
                                        </md-card>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!-- Project Choice -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===3">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{'dashboard.newpr' | translate}}">
                            <md-content lclass="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.newpr">New Project</h1>
                                <div>
                                    <form name="editForm" role="form" novalidate ng-submit="vm.saveProject()">
                                        <md-input-container class="col-md-6">
                                            <label data-translate="dashboard.prtitle">Project Title</label>
                                            <input ng-model="vm.project.project.title" required>
                                        </md-input-container>
                                        <md-input-container class="col-md-4">
                                            <label data-translate="dashboard.prdate">Project Date</label>
                                            <input class="date" type="date" ng-model="vm.project.project.projectDate" name="cd-birthday" id="cd-birthday">
                                        </md-input-container>
                                        <div class="col-md-10">
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="vm.project.project.description" config="options" min-height="400" editor="editor2" editable="editable2"
                                                    on-image-upload="imageUpload2(files)"></summernote>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <center>
                                                <h4 data-translate="dashboard.cover">Cover</h4>
                                            </center>
                                            <a data-toggle="modal" data-target="#myModal">
                                                <center>
                                                    <img ng-show="myCroppedImage!=''" class="img-rounded" ng-src="{{myCroppedImage}}" style="width:100%; height: auto" />
                                                    <img ng-hide="myCroppedImage!=''" class="img-rounded" src="content/images/user.gif" style="width:100%; height: auto" />
                                                </center>
                                            </a>
                                            <div style="margin-top:10vh">
                                                <center>
                                                    <button type="submit" ng-disabled=" vm.isSaving" class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                                                        <span data-translate="entity.action.save">Save</span>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="{{'dashboard.recentpr' | translate}}">
                            <md-content class="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.recentpr">Recent Projects
                                    <a tooltip-placement="top" uib-tooltip="see all Projects">
                                        <i ui-sref="project" class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </a>
                                </h1>
                                <div class=" row fix">
                                    <div ng-repeat="project in recentProjects" class="col-md-4">
                                        <md-card style="background:#853163; color:white">
                                            <a ui-sref="project-detail({id:project.id})">
                                                <img width="100%" height="auto" ng-show="project.image===null" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image"
                                                    alt="Washed Out">
                                                <img width="100%" height="auto" ng-hide="project.image===null" ng-src="{{project.image.mediumRes}}" class="md-card-image"
                                                    alt="Washed Out">
                                            </a>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{project.title}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>{{project.resume}} </p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button ui-sref="project-detail({id:project.id})" data-translate="entity.action.view">Consulter</md-button>
                                                <md-button ui-sref="project-detail.edit({id:project.id})" data-translate="entity.action.edit">modifier</md-button>
                                            </md-card-actions>
                                        </md-card>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!-- News letter -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===2">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{'dashboard.newsltr' | translate}}">
                            <md-content lclass="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.newsltr">New NewsLetter</h1>
                                <div>
                                    <form name="editForm" role="form" novalidate ng-submit="vm.saveNewsLetter()">
                                        <md-input-container class="col-md-6">
                                            <label data-translate="dashboard.newsltrtitle">Newsletter Title</label>
                                            <input ng-model="vm.newsletter.title" required>
                                        </md-input-container>
                                        <div class="col-md-10">
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="vm.newsletter.content" config="options" min-height="400" editor="editor3" editable="editable3"></summernote>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <div style="margin-top:10vh">
                                                <center>
                                                    <button type="submit" ng-disabled=" vm.isSaving" class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                                                        <span data-translate="entity.action.save">Save</span>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="{{'dashboard.recentnewsltr' | translate}}">
                            <md-content class="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.recentnewsltr">Recent Newsletters
                                    <a tooltip-placement="top" uib-tooltip="see all Newsletters">
                                        <i ui-sref="news-letter" class="fa fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>
                                </h1>
                                <div class=" row fix">
                                    <div ng-repeat="newsletter in recentNewsLetters" class="col-md-4">
                                        <md-card style="background:#853163; color:white">
                                            <a ui-sref="news-letter-detail({id:newsletter.id})">
                                                <img width="100%" height="auto" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                                            </a>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{newsletter.title}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button ui-sref="news-letter-detail({id:newsletter.id})" data-translate="entity.action.view">Consulter</md-button>
                                                <md-button ui-sref="news-letter-detail.edit({id:newsletter.id})" data-translate="entity.action.edit">modifier</md-button>
                                            </md-card-actions>
                                        </md-card>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!-- Glossaire -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===5">
                <md-content>
                    <h1 class="md-display-3" data-translate="dashboard.glossary">Glossary</h1>
                    <md-list style="padding-top:40px">
                        <md-list-item ng-repeat="glossaire in allGlossaire" class="secondary-button-padding">
                            <h2>
                                <b ng-show="glossaire.edit===undefined">{{glossaire.title}} </b>
                            </h2>
                            <md-input-container ng-hide="glossaire.edit===undefined">
                                <label data-translate="dashboard.gltitle">Title</label>
                                <input ng-model="glossaire.title">
                            </md-input-container>
                            <p ng-show="glossaire.edit===undefined" style="padding-left:30px">
                                {{glossaire.description}}
                            </p>
                            <md-input-container ng-hide="glossaire.edit===undefined" style="width:60%">
                                <label data-translate="dashboard.description">description</label>
                                <textarea ng-model="glossaire.description" md-maxlength="250" rows="3" md-select-on-focus></textarea>
                            </md-input-container>
                            <md-button ng-hide="glossaire.edit===undefined" class="md-secondary" ng-click="saveglossary(glossaire)" data-translate="entity.action.save">Save</md-button>
                            <md-button ng-show="glossaire.edit===undefined" class="md-secondary" ng-click="editglossary(glossaire)" data-translate="entity.action.edit">Edit</md-button>
                            <md-button ng-show="glossaire.edit===undefined" class="md-warn" ng-click="deleteglossaire(glossaire)" data-translate="entity.action.delete">Delete</md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item>
                            <form ng-submit="saveNewglossary()" style="width:100%">
                                <md-input-container>
                                    <label data-translate="dashboard.gltitle">Title</label>
                                    <input ng-model="vm.newglossaire.title" required>
                                </md-input-container>
                                <md-input-container n style="width:60%">
                                    <label data-translate="dashboard.description">description</label>
                                    <textarea ng-model="vm.newglossaire.description" md-maxlength="250" rows="1" md-select-on-focus required></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <label data-translate="dashboard.glanguage">Language</label>
                                    <md-select ng-model="vm.newglossaire.lang" required>
                                        <md-optgroup label="items">
                                            <md-option ng-value="1">English</md-option>
                                            <md-option ng-value="2">Francais</md-option>
                                            <md-option ng-value="3">تونسي </md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                                <md-button class="md-raised" class="md-success" type="submit" data-translate="entity.action.save">Save</md-button>
                            </form>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <!-- partners -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===6">
                <md-content>
                    <h1 class="md-display-3" data-translate="dashboard.partners">Partners</h1>
                    <div class="row fix">
                        <md-card ng-repeat="partner in allPartners" style="background : #853163; color: white" class="col-md-5">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{partner.name}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <img ng-src="{{partner.image.mediumRes}}">
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button data-translate="entity.action.delete" ng-click="deletepartner(partner)">Delete</md-button>
                            </md-card-actions>
                        </md-card>
                        <md-card class="col-md-5">
                            <md-card-title>
                                <md-card-title-text>
                                    <md-input-container>
                                        <label data-translate="dashboard.newpartner">New Partner</label>
                                        <input ng-model="vm.newpartner.partner.name" required>
                                    </md-input-container>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <a class="btn btn-default stat-item ">
                                        <h1 ng-show="vm.newpartner.file===undefined" class="md-display-3">
                                            <i class="fa fa-camera-retro"></i>
                                        </h1>
                                        <img ng-hide="vm.newpartner.file===undefined" ng-src="{{'data:image/png;base64,'+vm.newpartner.file}}">
                                    </a>
                                    <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.profile)">
                                        <div>
                                            <button type="button" ngf-select class="btn btn-primary btn-lg" ngf-change="vm.setFile($file, vm.newpartner)">
                                                Choisir une Image
                                            </button>
                                        </div>
                                        <input type="hidden" class="form-control" name="file" id="field_file" ng-model="vm.newpartner.file" />
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button data-translate="entity.action.save" ng-click="savePartner()" ng-disabled="vm.newpartner==={}">Save</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </div>
            <!-- calender -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===4">
                <div class="container">
                    <h1 class="md-display-3" data-translate="dashboard.calendar">Calender</h1>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                                    Previous
                                </button>
                                <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                                    Today
                                </button>
                                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                                    Next
                                </button>
                            </div>
                        </div>
                        <br class="visible-xs visible-sm">
                        <div class="col-md-6 text-center">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false" data-translate="dashboard.year">Year</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false" data-translate="dashboard.month">Month</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false" data-translate="dashboard.week">Week</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false" data-translate="dashboard.day">Day</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
                        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        cell-is-open="vm.cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30" cell-modifier="vm.modifyCell(calendarCell)"
                        cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
                    </mwl-calendar>
                    <br>
                    <br>
                    <br>
                    <div class="well">
                        <h2 class="md-display-1" id="event-editor" data-translate="dashboard.edit">
                            Edit or create events
                            <div class="clearfix"></div>
                        </h2>
                        <md-input-container class="md-block">
                            <label data-translate="dashboard.title">Title</label>
                            <input ng-model="vm.newevent.title">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label data-translate="dashboard.description">Description</label>
                            <input ng-model="vm.newevent.content">
                        </md-input-container>
                        <md-chips ng-model="selectedProfiles" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="true">
                            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.firstName"
                                placeholder="Search for member">
                                <span md-highlight-text="searchText"> {{item.firstName}} {{item.lastName}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <img ng-src="{{$chip.image.thumbnail}}" class="md-avatar rounded-circle" style="height:20px; width:20px">
                                    <em>{{$chip.firstName}} {{$chip.lastName}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <center>
                                    <b data-translate="dashboard.startdate">Starting Date</b>
                                    <p class="input-group" style="max-width: 250px">
                                        <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.newevent.startsAt" is-open="vm.newevent.startOpen"
                                            close-text="Close">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', vm.newevent)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                    <div uib-timepicker ng-model="vm.newevent.startsAt" hour-step="1" minute-step="15" show-meridian="false">
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-6">
                                <center>
                                    <b data-translate="dashboard.enddate">Ending Date</b>
                                    <p class="input-group" style="max-width: 250px">
                                        <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.newevent.endsAt" is-open="vm.newevent.endOpen"
                                            close-text="Close">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'endOpen', vm.newevent)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                    <div uib-timepicker ng-model="vm.newevent.endsAt" hour-step="1" minute-step="15" show-meridian="false">
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div>
                            <center>
                                <button ng-show="vm.newevent.id===null" class="btn btn-success" ng-click="vm.addEvent(vm.newevent,0)" data-translate="entity.action.save">
                                    Save a new event
                                </button>
                                <button ng-hide="vm.newevent.id===null" class="btn btn-success" ng-click="vm.addEvent(vm.newevent,1)" data-translate="entity.action.edit">
                                    Update the event
                                </button>
                                <button ng-hide="vm.newevent.id===null" class="btn btn-success" ng-click="vm.addEvent(vm.newevent,0)" data-translate="dashboard.adder">
                                    create a new event
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Admin -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===7">
                <md-content class="md-padding" class="md-padding">
                    <div class="col-md-3" ng-repeat="onHoldBlog in allWaitingBlogs track by $index">
                        <div class="paper">
                            <img class="poster " ng-src="{{onHoldBlog.image.normalRes}}" />
                            <span style="background : orange" class="badge badge-pill badge-warning" data-translate="dashboard.onhold">On Hold</span>
                            <h1>{{onHoldBlog.title}}</h1>
                            <hr/>
                            <p class="text" ng-hide="isArabic(onHoldBlog.content)">{{onHoldBlog.content | limitTo: 80 }} ...</p>
                            <p class="textArab" ng-show="isArabic(onHoldBlog.content)" dir="rtl">{{onHoldBlog.content | limitTo: 80 }} ...</p>
                            <a class="btn" ui-sref="blog-detail({id:onHoldBlog.id})" data-translate="dashboard.readmore">Read More</a>
                            <a class="btn" ng-click="publishBlog(onHoldBlog)" data-translate="dashboard.publish">Publish</a>
                            <a class="btn" ng-click="deleteBlog(onHoldBlog)" data-translate="entity.action.delete">Delete</a>
                            <div class="space "></div>
                        </div>
                    </div>
                    <div ng-show="allWaitingBlogs.length===0">
                        <div class="container ">
                            <div class="jumbotron">
                                <div class="container">
                                    <p class="lead" data-translate="dashboard.waiting">No Blogs waiting for confirmation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
            <!-- Chat Control -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===8">
                <div class="container">
                    <h1 class="md-display-3" data-translate="dashboard.control">Chat Controller</h1>
                </div>
                <br>
                <br>
                <div>
                    <div class="form-group" style="width:50%">
                        <label class="control-label" data-translate="dashboard.startdate">Starting Date</label>
                        <div class="input-group">
                            <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.chatControl.startDate"
                                is-open="vm.datePickerOpenStatus.startDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style="width:50%">
                        <label class="control-label" data-translate="dashboard.enddate">End Date</label>
                        <div class="input-group">
                            <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.chatControl.endDate"
                                is-open="vm.datePickerOpenStatus.endDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <md-button class="md-raised" ng-click="updateChat()" data-translate="dashboard.update">Update parameters</md-button>
                    <md-button ng-show="vm.chatControl.status===1" class="md-raised md-warn" ng-click="disableChat()" data-translate="dashboard.disable">Disable</md-button>
                    <md-button ng-show="vm.chatControl.status===0" class="md-raised md-primary" ng-click="enableChat()" data-translate="dashboard.enable">Enable</md-button>
                </div>
            </div>
            <!-- About Us -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===9">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{'dashboard.about' | translate}}">
                            <md-content lclass="md-padding">
                                <h1 class="md-display-2" data-translate="dashboard.about">About Us</h1>
                                <div>
                                    <form name="editForm" role="form" novalidate ng-submit="saveAbout()">
                                        <div class="col-md-10">
                                            <center>
                                                <h1> English</h1>
                                            </center>
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="enAbout.content" config="options" min-height="150" editor="editor3" editable="editable3"></summernote>
                                            </md-input-container>
                                            <center>
                                                <h1> تونسي </h1>
                                            </center>
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="arAbout.content" config="options" min-height="150" editor="editor4" editable="editable4"></summernote>
                                            </md-input-container>
                                            <center>
                                                <h1> Francais </h1>
                                            </center>
                                            <md-input-container class="md-block ">
                                                <summernote ng-model="frAbout.content" config="options" min-height="150" editor="editor5" editable="editable5"></summernote>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <div style="margin-top:10vh">
                                                <center>
                                                    <button type="submit" ng-disabled=" vm.isSaving" class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                                                        <span data-translate="entity.action.save">Save</span>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!-- <div class="container">
             <h1 class="md-display-3">About Us</h1>
              <form ng-submit="saveNewAbout()" style="width:100%">
                         <md-input-container  style="width:70%">
                             <label>About Us</label>
                             <textarea ng-model="vm.about.content" md-maxlength="250" rows="2" md-select-on-focus required></textarea>
                         </md-input-container>
                          <md-input-container>
                             <label>Language</label>
                             <md-select  ng-model="vm.about.lang" required>
                                     <md-option ng-repeat="language in vm.languages track by language" ng-value="language">{{language}}</md-option>
                             </md-select>
                         </md-input-container>
                         
                         <md-button class="md-raised" class="md-success" type="submit">Save</md-button>
                     </form>
             
             </div>
             <md-list style="padding-top:40px">
                 <md-list-item ng-repeat="about in abouts" class="secondary-button-padding">
             
                     <h2><b>{{about.lang}}</b> </h2>
                     <p ng-show="about.edit===undefined" style="padding-left:30px">
                         {{about.content}}
                     </p>
                     <md-input-container ng-hide="about.edit===undefined" style="width:60%">
                         <label>description</label>
                         <textarea ng-model="about.content" md-maxlength="800" rows="3" md-select-on-focus></textarea>
                     </md-input-container>
                     <md-button ng-hide="about.edit===undefined" class="md-secondary" ng-click="saveAbout(about)">Save</md-button>
                     <md-button ng-show="about.edit===undefined" class="md-secondary" ng-click="editAbout(about)">Edit</md-button>
                     <md-button ng-show="about.edit===undefined" class="md-warn" ng-click="deleteAbout(about)">Delete</md-button>
                     <md-divider ng-if="!$last"></md-divider>
             
                 </md-list-item>
                 <md-list-item>
             </div>-->
            <!-- Description -->
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===10">
                <div class="container">
                    <h1 class="md-display-3" data-translate="dashboard.description">Description</h1>
                    <md-list style="padding-top:40px">
                        <md-list-item ng-repeat="description in descriptions" class="secondary-button-padding">
                            <h2>
                                <b>{{description.lang}}</b>
                            </h2>
                            <p ng-show="description.edit===undefined" style="padding-left:30px">
                                {{description.content}}
                            </p>
                            <md-input-container ng-hide="description.edit===undefined" style="width:60%">
                                <label>description</label>
                                <textarea ng-model="description.content" rows="3" md-select-on-focus></textarea>
                            </md-input-container>
                            <md-button ng-hide="description.edit===undefined" class="md-secondary" ng-click="saveDescription(description)" data-translate="entity.action.save">Save</md-button>
                            <md-button ng-show="description.edit===undefined" class="md-secondary" ng-click="editDescription(description)" data-translate="entity.action.edit">Edit</md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item>
                </div>
            </div>
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===11">
                <md-content>
                    <h1 class="md-display-3" data-translate="dashboard.slider">Sliders</h1>
                    <md-content class="md-padding">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="{{'dashboard.add' | translate}}">
                                <md-content class="md-padding">
                                    <div class="col-md-12 ">
                                        <form class="cd-form floating-labels" name="form" role="form" ng-submit="vm.saveSlider()">
                                            <div class="paper">
                                                <a data-toggle="modal" data-target="#mySlider">
                                                    <img ng-show="myCroppedSlideImage!=''" class="poster " ng-src="{{myCroppedSlideImage}}" />
                                                    <img ng-hide="myCroppedSlideImage!=''" class="poster " src="content/images/article.jpg" />
                                                </a>
                                                <div class="icon">
                                                    <label class="cd-label" for="cd-adress">Header In English</label>
                                                    <input ng-model="vm.slider.slider.headlline" name="titre" class="titre" type="text" id="cd-adress" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif;">
                                                </div>
                                                <hr/>
                                                <div class="icon">
                                                    <label class="cd-label" for="cd-textarea"> write your content here .... </label>
                                                    <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.slider.slider.simpleText" id="cd-textarea"></textarea>
                                                </div>
                                                <div class="icon">
                                                    <label class="cd-label" for="cd-adress">L'entéte en français</label>
                                                    <input ng-model="vm.slider.slider.headlineFr" name="titre" class="titre" type="text" id="cd-adress" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif;">
                                                </div>
                                                <hr/>
                                                <div class="icon">
                                                    <label class="cd-label" for="cd-textarea"> écrivez le contenu ici .... </label>
                                                    <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.slider.slider.simpleTextFr" id="cd-textarea"></textarea>
                                                </div>
                                                <div dir="rtl" class="icon">
                                                    <label class="cd-label" for="cd-adress"> لب الحكاية بالدارجة</label>
                                                    <input ng-model="vm.slider.slider.headlineAr" name="titre" class="titre" type="text" id="cd-adress" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif;">
                                                </div>
                                                <hr/>
                                                <div dir="rtl" class="icon">
                                                    <label class="cd-label" for="cd-textarea"> إكتب النص الكل توا </label>
                                                    <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.slider.slider.simpleTextAr" id="cd-textarea"></textarea>
                                                </div>
                                                <button type="submit" style="background:#3498db" class="btn btn-primary pull-center" data-translate="entity.action.save">
                                                    Post It !
                                                </button>
                                                <div class="space "></div>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="{{'dashboard.slider' | translate}}">
                                <md-content class="md-padding">
                                    <div class="col-md-6" ng-repeat="slider in allSliders">
                                        <div class="paper ">
                                            <img class="poster" ng-src="{{slider.image.normalRes}}" />
                                            <div class="space"></div>
                                            <hr/>
                                            <h1>{{slider.headlline}}</h1>
                                            <hr/>
                                            <p class="text">{{slider.simpleText}}</p>
                                            <hr/>
                                            <h1>{{slider.headlineFr}}</h1>
                                            <hr/>
                                            <p class="text">{{slider.simpleTextFr}}</p>
                                            <hr/>
                                            <h1 class="textArab" dir="rtl">{{slider.headlineAr}}</h1>
                                            <hr/>
                                            <p class="textArab" dir="rtl">{{slider.simpleTextAr}}</p>
                                            <a class="btn" ng-click="showDelete($event,slider)" data-translate="entity.action.delete">Delete it !</a>
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                    </md-content>
                </md-content>
            </div>
            <div class="dashboardcard" style="min-height:40vh" ng-show="vm.choice===12">
                <md-content>
                    <h1 class="md-display-3" data-translate="dashboard.resource">Resources</h1>
                    <md-content class="md-padding">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="{{'dashboard.newrsc' | translate}}">
                                <div class="resource" dir="ltr">
                                    <form style="padding:4em" ng-submit="vm.saveResource()">
                                        <div class="form-group">
                                            <label for="title" data-translate="dashboard.rsctitle">Title
                                                <span>Use title case to get a better result</span>
                                            </label>
                                            <input type="text" required name="title" id="title" class="form-controll" ng-model="vm.resource.resource.title" />
                                        </div>
                                        <div class="form-group">
                                            <label for="caption" data-translate="dashboard.rscdesc">Description
                                                <span>This caption should be descriptiv</span>
                                            </label>
                                            <input type="text" required name="caption" id="caption" class="form-controll" ng-model="vm.resource.resource.description"
                                            />
                                        </div>
                                        <div class="form-group file-area" ngf-drop accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                            ngf-change="vm.setResource($file, vm.resource)">
                                            <label for="document" data-translate="dashboard.rscdoc">Document
                                                <span>Your File should be less than 400 Mo.</span>
                                            </label>
                                            <div>
                                                <center>
                                                    <button type="button" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                        ngf-select class="btn btn-primary btn-rounded" ngf-change="vm.setResource($file, vm.resource)">
                                                        Choisir un Document
                                                    </button>
                                                </center>
                                            </div>
                                            <input type="hidden" class="form-control" name="document" id="fileInput" ng-model="vm.resource.file" />
                                            <input type="hidden" class="form-control" name="type" id="field_type" ng-model="vm.resource.type" />
                                            <input type="hidden" class="form-control" name="name" id="name" ng-model="vm.resource.name" />
                                            <div class="file-dummy" style="background:green" ng-show="vm.resource.file!=null">
                                                <div class="default">
                                                    <em data-translate="dashboard.great">Great, your file to upload is</em> {{vm.resource.name}}
                                                </div>
                                            </div>
                                            <div class="file-dummy" ng-hide="vm.resource.file!=null">
                                                <div class="default" data-translate="dashboard.select">Please select some files</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <center>
                                                <button type="submit" data-translate="dashboard.upload">Upload Resource</button>
                                            </center>
                                        </div>
                                    </form>
                                </div>
                            </md-tab>
                            <md-tab label="{{'dashboard.recentrsc' | translate}}">
                                <md-content class="md-padding">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4" ng-repeat="resource in vm.allResources track by $index">
                                                <div class="panel panel-default bootcards-file">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title" style="font-size:20px">
                                                            <i style="color:blue" ng-show="fileDoc[$index]" class="fa fa-file-word-o" aria-hidden="true"></i>
                                                            <i style="color:red" ng-show="filePDF[$index]" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                            <b>{{resource.title}}</b>
                                                        </h3>
                                                    </div>
                                                    <div class="list-group">
                                                        <div class="list-group-item">
                                                            <p class="list-group-item-text">{{resource.description}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="btn-group">
                                                            <a href="{{resource.filePath}}" class="btn btn-success">
                                                                <i class="fa fa-arrow-down"></i>
                                                                <span data-translate="entity.action.download">Download</span>
                                                            </a>
                                                            <button class="btn btn-danger" ng-click="showDeleteResource($event,resource)">
                                                                <i class="fa fa-remove"></i>
                                                                <span data-translate="entity.action.delete">Remove</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </md-content>
            </div>
            <div style=" background: rgba(0, 0, 0, 0.8); " id="mySlider" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content needs fix-->
                    <div style="background:black;color: white" class="modal-content ">
                        <div class="modal-body">
                            <center>
                                <div>
                                    <label data-translate="global.form.photo" for="fileInput4" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px white solid">Selectionner une photo</label>
                                    <input accept="image/*" type="file" id="fileInput4" style="visibility:hidden" />
                                </div>
                                <div style="min-height: 300px; height: 100%; width: 100%;background:black" class=" cropArea ">
                                    <ui-cropper aspect-ratio="1.1" style="height: 100%" result-image-size="{w:1000,h:920}" image="mySlideImage" area-type="rectangle "
                                        chargement=" 'Chargment en cours ' " result-image="myCroppedSlideImage" canvas-scalemode="true"
                                        init-max-area="true"></ui-cropper>
                                </div>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-translate="entity.action.close" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: rgba(0, 0, 0, 0.8);" id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style=" padding-top: 0%">
                    <!-- Modal content needs fix-->
                    <div style="background:black;color: white" class="modal-content">
                        <div class="modal-body">
                            <center>
                                <div>
                                    <label data-translate="global.form.photo" for="fileInput2" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px white solid">Selectionner une photo</label>
                                    <input accept="image/*" type="file" id="fileInput2" style="visibility:hidden" />
                                </div>
                                <div style="min-height: 300px; height: 100%; width: 100%;background:black" class=" cropArea ">
                                    <ui-cropper ng-hide="vm.choice===6" style="height: 100% " image="myImage " area-type="square " chargement=" 'Chargment en cours ' "
                                        result-image="myCroppedImage " canvas-scalemode="true " result-image-size="300 "></ui-cropper>
                                    <ui-cropper ng-show="vm.choice===6" style="height: 100%" image="myImage" area-type="rectangle" chargement=" 'Chargment en cours ' "
                                        result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                                </div>
                            </center>
                        </div>
                        <div class="modal-footer ">
                            <button type="button " data-translate="entity.action.close" class="btn btn-secondary " data-dismiss="modal">fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="content/js/main.js "></script>
