<md-dialog aria-label="Mango (Fruit)" style="min-width:50vw">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{items.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true" aria-label="Close dialog"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <center>
                    <h1 class="md-display-1">Details of {{items.title}}</h1>
                </center>
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <h1 class="md-display-2"><i class="fa fa-clock-o " aria-hidden="true"></i></h1>
                            <div>
                                Start Date : {{items.startsAt | date:'short'}}
                            </div>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <h1 class="md-display-2"><i class="fa fa-clock-o " aria-hidden="true"></i></h1>
                            <div>
                                End Date : {{items.endsAt | date:'short'}}
                            </div>
                        </center>
                    </div>
                </div>
                <center>
                    <div>
                        <b>Description</b>
                        <p>{{items.content}}</p>
                    </div>
                </center>
                <md-list flex>
                    <md-subheader class="md-no-sticky">members</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="member in items.profiles" ng-click="null">
                        <img ng-src="{{member.image.thumbnail}}" class="md-avatar" alt="{{member.nickname}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ member.firstName }} {{ member.lastName }}</h3>

                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>-->
    </form>
</md-dialog>