<md-dialog>
    <div style="width:100%; height:10vh"></div>
    Hey You, yeah you!
    <center>
        <div>Choisissez une image: <input accept="image/*" type="file" id="fileInput2" /></div>
        <div style="min-height: 300px; height: 100%; width: 100%;  background:url( 'http://www.free-icons-download.net/images/add-a-picture-icon-44909.png') no-repeat center" class=" cropArea ">
            <ui-cropper style="height: 100% " image="myImage " area-type="circle " chargement=" 'Chargment en cours ' " result-image="myCroppedImage " canvas-scalemode="true " result-image-size="200 "></ui-cropper>
        </div>

    </center> <button ng-click="submit()">OK</button>'
</md-dialog>