<div class="register">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="alert alert-success" ng-show="vm.success" data-translate="register.messages.success">
                    <strong>Registration saved!</strong> Please check your email for confirmation.
                </div>

                <div class="alert alert-danger" ng-show="vm.error" data-translate="register.messages.error.fail">
                    <strong>Registration failed!</strong> Please try again later.
                </div>

                <div class="alert alert-danger" ng-show="vm.errorUserExists" data-translate="register.messages.error.userexists">
                    <strong>Login name already registered!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" ng-show="vm.errorEmailExists" data-translate="register.messages.error.emailexists">
                    <strong>Email is already in use!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="cd-form floating-labels" ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()">
                    <fieldset>
                        <center>
                            <h3 class="md-display-2" data-translate="register.title" layout="row" layout-align="center center">Registration</h3>
                        </center>
                    </fieldset>
                    <fieldset>
                        <h4 data-translate="global.form.photo" style="font-family: 'Nunito', sans-serif;font-size:18px;color:black">Profil photo</h4>

                        <a data-toggle="modal" data-target="#myModal">
                            <center>
                                <img ng-show="myCroppedImage!=''" class="img-rounded" ng-src="{{myCroppedImage}}" style="width:50%; height: auto" />
                                <img ng-hide="myCroppedImage!=''" class="img-rounded" src="content/images/user.gif" style="width:50%" />
                            </center>
                        </a>
                    </fieldset>
                    <fieldset>
                        <h4 data-translate="global.form.info" style="font-family: 'Nunito', sans-serif;font-size:18px;color:black">Personal Informations</h4>
                        <div class="icon">
                            <label class="cd-label" for="cd-name" data-translate="global.form.nickname">Nickname</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" dir="ltr" class="user" ng-model="vm.registerAccount.login"
                                type="text" name="login" id="login" ng-minlength=2 ng-maxlength=10 ng-pattern="/^[_'.@A-Za-z0-9-]*$/"
                                required>
                            <div ng-show="form.login.$dirty && form.login.$invalid">
                                <center>
                                    <div class="alert alert-danger" ng-show="form.login.$error.required" data-translate="register.messages.validate.login.required">
                                        Your username is required.
                                    </div>
                                </center>
                                <center>
                                    <div class="alert alert-warning" ng-show="form.login.$error.minlength" data-translate="register.messages.validate.login.minlength">
                                        Your username is required to be at least 1 character.
                                    </div>
                                </center>
                                <center>
                                    <div class="alert alert-warning" ng-show="form.login.$error.maxlength" data-translate="register.messages.validate.login.maxlength">
                                        Your username cannot be longer than 50 characters.
                                    </div>
                                </center>
                                <center>
                                    <div class="alert alert-warning" ng-show="form.login.$error.pattern" data-translate="register.messages.validate.login.pattern">
                                        Your username can only contain lower-case letters and digits.
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-name" data-translate="global.form.firstName">First Name</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" class="name" type="text" ng-model="vm.profile.profile.firstName"
                                name="cd-name" id="cd-firstname" required>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-name" data-translate="global.form.lastName">Last Name</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" class="lastname" type="text" name="cd-name" id="cd-lastname"
                                ng-model="vm.profile.profile.lastName" required>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-adress" data-translate="global.form.adress">Adress</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" vs-google-autocomplete ng-model="vm.profile.profile.adress"
                                name="address" class="adress" type="text" id="cd-adress">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-birthday" data-translate="global.form.birthDate">Birth Date</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" class="date" type="date" ng-model="vm.profile.profile.birthdate"
                                name="cd-birthday" id="cd-birthday">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4 style="font-family: 'Nunito', sans-serif;font-size:18px;color:black" data-translate="global.form.login">Account Informations</h4>
                        <div class="icon">
                            <label class="cd-label" for="cd-email" data-translate="global.form.email">Email</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" dir="ltr" type="email" class="email" id="email" name="email"
                                ng-minlength="3" ng-maxlength="100" ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100
                                required>
                            <div ng-show="form.email.$dirty && form.email.$invalid">
                                <div class="alert alert-danger" ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                                    Your email is required.
                                </div>
                                <div class="alert alert-warning" ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                                    Your email is invalid.
                                </div>
                                <div class="alert alert-warning" ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                                    Your email is required to be at least 5 characters.
                                </div>
                                <div class="alert alert-warning" ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </div>
                            </div>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-password" data-translate="global.form.newpassword">Password</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" dir="ltr" class="password" name="password" id="password"
                                ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required type="password">
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <div class="alert alert-danger" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </div>
                                <div class="alert alert-warning" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </div>
                                <div class="alert alert-warning" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </div>
                            </div>
                            <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-confirmation" data-translate="global.form.confirmpassword">Retape Password </label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" dir="ltr" class="password" type="password" id="confirmPassword"
                                name="confirmPassword" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                <div class="alert alert-danger" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </div>
                                <div class="alert alert-warning" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </div>
                                <div class="alert alert-warning" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </div>
                            </div>

                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-safe" data-translate="global.form.safe">Safe Password</label>
                            <input style="font-family: 'Nunito', sans-serif;font-size:15px" dir="ltr" class="safe" ng-model="vm.registerAccount.safePassword"
                                ng-minlength=4 ng-maxlength=50 required type="password" name="safe" id="safe">
                            <a style="top: 0; margin-top: 57px;" class="hide-password">Show</a>
                            <div class="alert alert-info" data-translate="global.messages.validate.safe.info">
                                Your safe can't be modified ! Remember it and don't give it to anyone
                            </div>
                            <div class="alert alert-danger" ng-show="vm.registerAccount.safePassword===vm.registerAccount.password" data-translate="global.messages.validate.safe.invalid">
                                Your safe must be different from your password !
                            </div>
                            <div ng-show="form.safe.$dirty && form.safe.$invalid">
                                <div class="alert alert-danger" ng-show="form.safe.$error.required" data-translate="global.messages.validate.safe.required">
                                    Your confirmation password is required.
                                </div>
                                <div class="alert alert-warning" ng-show="form.safe.$error.minlength" data-translate="global.messages.validate.safe.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </div>
                                <div class="alert alert-danger" ng-show="form.safe.$error.maxlength" data-translate="global.messages.validate.safe.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </div>
                            </div>
                            <password-strength-bar password-to-check="vm.registerAccount.safePassword"></password-strength-bar>
                            <div>
                                <h4 style="font-family: 'Nunito', sans-serif;font-size:18px;color:black" data-translate="global.form.membership">Are you already a member of Mawjoudin ?</h4>
                                <ul class="cd-form-list">
                                    <li>
                                        <input style="font-family: 'Nunito', sans-serif;font-size:15px" type="radio" name="radio-button" id="cd-radio-1" ng-model="vm.profile.profile.membership"
                                            ng-value="true">
                                        <label style="font-family: 'Nunito', sans-serif;font-size:15px" for="cd-radio-1" data-translate="global.form.yes">Yes</label>
                                    </li>

                                    <li>
                                        <input style="font-family: 'Nunito', sans-serif;font-size:15px" type="radio" name="radio-button" id="cd-radio-2" ng-model="vm.profile.profile.membership"
                                            ng-value="false">
                                        <label style="font-family: 'Nunito', sans-serif;font-size:15px" for="cd-radio-2" data-translate="global.form.no">No</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="icon" ng-hide="vm.profile.profile.membership==null || vm.profile.profile.membership">
                                <label style="font-family: 'Nunito', sans-serif;font-size:15px" class="cd-label" for="cd-textarea" data-translate="global.form.motivation">Why do you want to join Us ? </label>
                                <textarea style="font-family: 'Nunito', sans-serif;font-size:15px" style="width :100%" class="motivation" name="cd-textarea"
                                    ng-model="vm.profile.profile.motivation" id="cd-textarea"></textarea>
                            </div>
                            <ul class="cd-form-list">
                                <li>
                                    <input style="font-family: 'Nunito', sans-serif;font-size:15px" type="checkbox" id="cd-checkbox-1" ng-model="accept" ng-value="true">
                                    <label style="font-family: 'Nunito', sans-serif;font-size:15px" for="cd-checkbox-1" data-translate="global.form.accept">I agree to terms of service and privacy policy </label>
                                </li>
                            </ul>
                    </fieldset>
                    <div class="col-md-10">
                        <button type="submit" ng-disabled="form.$invalid || !accept" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;margin-left:10%"
                            data-translate="register.form.button">Register</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-->
    <div style=" background: rgba(0, 0, 0, 0.8);" id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content needs fix-->
            <div style="background:black;color: white" class="modal-content">
                <div class="modal-body">
                    <center>
                        <div>
                            <label data-translate="global.form.photo" for="fileInput2" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px white solid">Selectionner une photo</label>
                            <input accept="image/*" type="file" id="fileInput2" style="visibility:hidden" />
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-hide="myCroppedImage===''" style="margin:10px;">Ok</button>
                        <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                            <ui-cropper style="height: 100%" image="myImage" area-type="circle" chargement=" 'Chargment en cours'" result-image-size="1000"
                                result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                        </div>
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->
    <script src="otherjs/main.js"></script>
