<style>
    .chat-input {
    bottom: 0;
    width: 100%;
    height: 40px
    }
    a {
    color: black
    }
    .chat-messages {
    overflow-y: auto;
    height: 40vh;
    width: 100%;
    overflow-x: hidden
    }
    .oldul .oldli {
    display: inline-block;
    clear: both;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    font-family: 'Nunito', sans-serif;
    font-size: 75%
    }
    .oldul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
 </style>
 <nav class="navbar navbar-toggleable-md  fixed-top" style="background : #f3eaf0; position :fixed; opacity:0.85;">
    <div class="container">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
       <span class="fa fa-bars"></span>&nbsp;
       <span style=" font-family: 'Nunito', sans-serif"> Menu</span>
       </button>
       <a class="navbar-brand logo"href="/" ng-click="vm.collapseNavbar()">
       <img class="logo-img" src="content/images/logo_with_text_side.png" alt="logo" />
       </a>
       <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-switch="vm.isAuthenticated()">
          <ul class="navbar-nav mr-auto ">
             <li ng-show="user" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                <a class="nav-link dropdown-toggle" data-translate="global.menu.admin.main" uib-dropdown-toggle href="" id="account-menu">
                Administration
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="user-management" ng-click="vm.collapseNavbar()" id="admin-menu" data-translate="global.menu.admin.userManagement">
                      User management
                      </a>
                   </li>
                   <li class="nav-item">
                      <a data-translate="global.menu.admin.dashboard" class="nav-link waves-effect waves-light" ui-sref="dashboard" ng-click="vm.collapseNavbar()">
                      Dashboard
                      </a>
                   </li>
                </ul>
             </li>
             <li ng-show="user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="membershome" data-translate="global.menu.entities.today" ng-click="vm.collapseNavbar()">Today</a>
             </li>
             <li ng-show="user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="subject" data-translate="global.menu.entities.subject" ng-click="vm.collapseNavbar()">Forum</a>
             </li>
             <li ng-show="user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="profile" ng-click="vm.collapseNavbar()" data-translate="global.menu.entities.profile">Chat</a>
             </li>
             <li ng-show="!user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="project" data-translate="global.menu.entities.project" ng-click="vm.collapseNavbar()">Projets</a>
             </li>
             <li ng-show="!user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="resource" data-translate="global.menu.entities.resource" ng-click="vm.collapseNavbar()">Resource</a>
             </li>
             <li ng-show="!user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="news" data-translate="global.menu.entities.news" ng-click="vm.collapseNavbar()">Articles</a>
             </li>
             <li ng-show="!user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="blog" data-translate="global.menu.entities.blog" ng-click="vm.collapseNavbar()">Blogs</a>
             </li>
             <li ng-show="!user" class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="glossaire" data-translate="global.menu.entities.glossaire" ng-click="vm.collapseNavbar()">Glossaire</a>
             </li>
             <li class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="publicchat" data-translate="global.menu.entities.chat" ng-click="vm.collapseNavbar()">Chat</a>
             </li>
             <li ng-show="user" uib-dropdown class="dropdown pointer">
                <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                <span>
                <span data-translate="global.menu.entities.publications">
                publications
                </span>
                </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="project" data-translate="global.menu.entities.project" ng-click="vm.collapseNavbar()">Projets</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="resource" data-translate="global.menu.entities.resource" ng-click="vm.collapseNavbar()">Resource</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="news" data-translate="global.menu.entities.news" ng-click="vm.collapseNavbar()">Articles</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="blog" data-translate="global.menu.entities.blog" ng-click="vm.collapseNavbar()">Blogs</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link waves-effect waves-light" ui-sref="glossaire" data-translate="global.menu.entities.glossaire" ng-click="vm.collapseNavbar()">Glossaire</a>
                   </li>
                </ul>
             </li>
             <li class="nav-item">
                <a class="nav-link waves-effect waves-light" ui-sref="webshop" data-translate="global.menu.entities.webshop" ng-click="vm.collapseNavbar()">WebShop</a>
             </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row-reverse">
             <li style="padding-left:20px" ui-sref-active="active" uib-dropdown class="dropdown pointer pull-right" ng-controller="JhiLanguageController as languageVm">
                <a class="nav-link dropdown-toggle hidden-lg-down" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                <span>
                <span tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'global.menu.language' | translate}}" class="fa fa-language"></span>
                </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                   <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                      <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                   </li>
                </ul>
             </li>
             <li class="nav-item " ui-sref-active="active" ng-switch-when="true">
                <a class="nav-link waves-effect waves-light" href="" ng-click="vm.logout()" id="logout">
                <span tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'global.menu.account.logout' | translate}}" class="fa fa-sign-out fa-1.5x"></span>&nbsp;
                </a>
             </li>
             <li class="nav-item " ui-sref-active="active" ng-switch-when="false">
                <a class="nav-link waves-effect waves-light" href="" ng-click="vm.login()" id="login">
                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                <span data-translate="global.menu.account.login">Sign in</span>
                </a>
             </li>
             <li class="nav-item hidden-lg-down" ui-sref-active="active" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                <a ng-disabled="unseenMessages.length===0" class="dropdown-toggle nav-link" uib-dropdown-toggle href="" ng-click="showFriends=1"
                   id="notifMessages" style="position: relative">
                <span class="fa fa-envelope"></span>&nbsp;
                <span ng-show="unseenMessages.length>0" class="notification-counter">{{unseenMessages.length}}</span>
                </a>
                <ul id="notif" style="width:20vw;left: -300%;  max-height:60vh;overflow-y: auto;" class="dropdown-menu" uib-dropdown-menu>
                   <li ng-repeat="unsmessage in unseenMessages | orderBy :'-creationDate'">
                      <a aria-label="talkto" ng-click="talkTo(unsmessage.sender)">
                         <div class="row">
                            <div class="col-2">
                               <img width="30px" style="border-radius: 50%;
                                  vertical-align: middle;margin-top:50%" height="auto" ng-src="{{unsmessage.sender.image.thumbnail}}"
                                  />
                            </div>
                            <div class="col-10">
                               <strong style="font-family: 'Nunito', sans-serif;font-weight:bold">{{unsmessage.sender.firstName}} {{unsmessage.sender.lastName}}</strong>
                               <br>
                               <small  style="font-family: 'Nunito', sans-serif">{{unsmessage.content.substring(0, 30)}} </small>
                               <small style="font-family: 'Nunito', sans-serif;" ng-show="unsmessage.content.length>30">...</small>
                            </div>
                         </div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="nav-item " ng-switch-when="true">
                <div style="cursor:pointer" ui-sref="profile-detail({id:vm.account.profile.id}) " class="profileLink2 row ">
                   <div class="col-lg-4 " style=" padding-bottom: 0px ">
                      <img ng-show="vm.account.profile.image!=null" style="height: 50px; width: 50px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; "
                         ng-src="{{vm.account.profile.image.thumbnail}}" />
                      <img ng-show="vm.account.profile.image===null" style="height: 50px; width: 50px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; "
                         ng-src="/content/images/user.gif" />
                   </div>
                   <div style=" display: flex; align-items: center; color : black " class="col-lg-8 ">
                      {{vm.account.profile.firstName}}
                   </div>
                </div>
             </li>
          </ul>
       </div>
    </div>
 </nav>
 <!-- Messaging -->
 <div style="position: fixed; bottom:0px; width:100%;z-index:500" class="hidden-md-down" ng-show="vm.account!=null" ng-switch="vm.isAuthenticated()">
    <div class="row" ng-switch-when="true">
       <div  class="col-lg-2 col-md-4 col-xs-12 " ng-show="vm.account">
          <md-button  has-any-authority="ROLE_ADMIN, ROLE_USER" ng-click="showFriends===1? showFriends=0 :showFriends=1;wait()" style="margin: 0px;width:100%" class="md-raised" type="button"
             style="background : #f3eaf0">
             Amis
          </md-button>
          <div ng-show="showFriends===1" style="width:100%;max-height:80vh;min-height:10vh;background:white;margin: 0px;">
             <md-list>
                <md-list-item ng-repeat="friend in vm.friends" ui-sref="profile-detail({id:friend.id}) " class="noright">
                   <img ng-show="friend.image!=null" alt="{{ friend.firstName }}" ng-src="{{ friend.image.thumbnail }}" class="md-avatar" />
                   <img ng-show="friend.image===null" alt="{{ friend.firstName }}" src="content/images/user.gif" class="md-avatar" />
                   <small>{{ friend.firstName }}
                   <small ng-if="singleNotif>0" style="color:red">({{singleNotif}})</small>
                   <small ng-if="friend.isf" style="color:red">(Invitation)</small>
                   </small>
                   <md-icon aria-label="talk to a friend" ng-click="talkTo(friend)" class="md-secondary md-hue-3">
                      <i class="fa fa-envelope"></i>
                   </md-icon>
                </md-list-item>
             </md-list>
          </div>
       </div>
       <div class="row  col-lg-10 col-md-8  col-xs-0">
          <div class="col-sm-3" ng-repeat="chatInfo in chatInfos | limitTo:1 track by $index " style="position: absolute;bottom :0px;">
             <div ng-click="chatInfo.tabPos===0?chatInfo.tabPos=1:chatInfo.tabPos=0" style="margin: 0px 8px;width:100%;background:#6A1B9A;color:white;height:35px; padding:5px;display: block;">
                <span style=" float:left "> {{chatInfo.receiver.firstName}} {{chatInfo.receiver.lastName}}</span>
                <span style=" float:right ">
                <a ng-click="endtalk(chatInfo)">X</a>
                </span>
             </div>
             <div ng-show="chatInfo.tabPos===1" style="width:100%;min-height:10vh;background:white;margin: 0px 8px;">
                <center>
                   <div scroll-to-bottom="messages" style="background: lightgray;width:100%" class="chat-messages">
                      <ul class="oldul">
                         <li class="oldli " ng-class="{' sent-message ':message.sender.id===vm.account.profile.id,'received-message ':message.sender.id!=vm.account.profile.id}"
                            ng-repeat="message in messages | orderBy :'creationDate'">
                            <span style="font-family: 'Nunito', sans-serif; font-size:12px;text-align: justify;word-wrap:break-word;  "  ng-bind-html="message.content | linky:'_blank':{rel: 'nofollow'}"></span>
                         </li>
                         <li class="oldli " style="width:100%;height:20px">&emsp;&emsp;</li>
                      </ul>
                   </div>
                   <form name="chatForm" ng-submit="sendMessage(chatInfo,message)">
                      <div class=" chat-input">
                         <div class="input-group">
                            <input ng-focus="seenNotifs()" type="text" class="form-control" name="message" ng-model="vm.message" autocomplete="off" placeholder="Taper un message...">
                         </div>
                      </div>
                   </form>
                </center>
             </div>
          </div>
       </div>
    </div>
 </div>