<div class="access">
  <div style="width:100%; height:20vh"></div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="dashboardcard">
        <div class="container">
          <div class="jumbotron">
            <div class="container">

              <center><h1 class="display-2" data-translate="error.access" style="color:red">Access Denied</h1></center>
              <div class="texter">
               <center><p data-translate="error.403" class="lead">This Area is restricted</p></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>