<div class="notfound">
<div style="width:100%;height:20vh"></div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="dashboardcard">
        <div class="container">
          <div class="jumbotron">
            <div class="container">

              <center><h1 class="display-2" style="color:violet" data-translate="error.lost">Are you lost ? </h1></center>
              <div class="texter">
               <center><p class="lead" data-translate="error.text" >We couldn't find what you are looking for</p></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--<div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="error.title">Error Page!</h1>

            <div ng-show="errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
        </div>
    </div>-->
</div>
