<div class="loginbk">
    <div style="height:20vh;width:100%"></div>
    <div class="row justify-content-center">
        <div ng-show="between===0&&chatControl.status===1" class="dashboardcard col-md-6">
            <h1>Le Chat sera ouvert entre {{chatControl.startDate | date: "medium"}} et {{chatControl.endDate | date: "medium"}}</h1>
        </div>

        <div ng-show="between===1&&chatControl.status===0" class="dashboardcard col-md-6">
            <h1>Le Chat est désactivé pour l'instant</h1>
        </div>

        <div ng-show="between===1&&chatControl.status===1" class="dashboardcard col-md-6">
            <h1 class="md-display-2">Let's talk</h1>
            <div class="chat-messages" style="min-height:60vh">
                <div class="row" ng-repeat="message in messages" style="padding:5px">
                    <div class="col-sm-2">
                        <strong>{{message.userLogin}}</strong>
                    </div>
                    <div class="col-sm-8">
                        {{message.message}}
                    </div>
                    <div class="col-sm-2">
                        <div>
                            {{message.time | date:'short'}}
                        </div>
                    </div>
                </div>
            </div>
            <form name="chatForm" ng-submit="sendMessage(message)">
                <div class="row chat-input">
                    <div class="input-group">
                        <input type="text" class="form-control" name="message" ng-model="message" autocomplete="off" placeholder="Type a message...">
                        <span class="input-group-btn">
                    <button class="btn btn-secondary btn-success" type="submit">Send</button>
                  </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>