<div id="myshop"></div>

<script>
    var spread_shop_config = {
        "shopName": "mawjoudinshop",
        "locale": "fr_FR",
        "prefix": "//shop.spreadshirt.be",
        "baseId": "myshop"
    };
</script>
<script type="text/javascript" src="//shop.spreadshirt.de/shopfiles/shopclient/shopclient.nocache.js"></script>