<style>
    .row.fix {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<div class="loginbk">
    <div style="height:10vh;width:100%"></div>
    <div class="row justify-content-center">
        <div class="dashboardcard col-md-10" style="opacity:.75">
            <div class="container">
                <center>
                    <h1 class="md-display-3" data-translate="membersHome.whatup">What's up today ?</h1>
                </center>
            </div>
        </div>
        <div class="dashboardcard col-md-10" style="opacity:.75">
            <div class="container">
                <center>
                    <h1 class="md-display-1" data-translate="membersHome.activitiesheader">My today's Activity </h1>
                </center>
                <center>
                    <h1  ng-show="currentActivities.length!=0"><strong data-translate="membersHome.have">You have</strong> <b>{{currentActivities.length}}</b><span data-translate="membersHome.activities" ng-show="currentActivities.length>1"> activities</span><span ng-hide="currentActivities.length>1" data-translate="membersHome.activity"> activity</span></h1>
                </center>
                <md-divider md-inset ng-if="!$last"></md-divider>
                <br><br><br>
                <div ng-show="currentActivities.length===0" class="container ">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3" data-translate="membersHome.humm">hmmm... </h1>
                            <p class="lead" > <em data-translate="membersHome.noactivities" >There's no Activities for you Today</em> <strong style=" text-transform: capitalize; ">{{vm.account.profile.firstName}}</strong> </p>
                        </div>
                    </div>
                </div>
                <div ng-show="currentActivities.length!=0" class="md-dialog-content" ng-repeat="items in currentActivities">
                    <center>
                        <h1  data-translate="membersHome.details">Details of {{items.title}}</h1>
                    </center>
                    <div class="row">
                        <div class="col-md-6">
                            <center>
                                <h1 class="md-display-2"><i class="fa fa-clock-o " aria-hidden="true"></i></h1>
                                <div data-translate="membersHome.start">
                                    Start Date : {{items.startsAt | date:'short'}}
                                </div>
                            </center>
                        </div>
                        <div class="col-md-6">
                            <center>
                                <h1 class="md-display-2"><i class="fa fa-clock-o " aria-hidden="true"></i></h1>
                                <div data-translate="membersHome.end">
                                    End Date : {{items.endsAt | date:'short'}}
                                </div>
                            </center>
                        </div>
                    </div>
                    <center>
                        <div>
                            <b data-translate="membersHome.description">Description</b>
                            <p>{{items.content}}</p>
                        </div>
                    </center>

                </div>
            </div>
        </div>
        <div class="dashboardcard col-md-10" style="opacity:0.82; background:whitesmoke;">
            <div class="container">
                <center>
                    <h1 class="md-display-1" data-translate="membersHome.friends">Friends publications </h1>
                </center>
                <div ng-show="vm.publications.length===0" class="container ">
                    <div class="jumbotron ">
                        <div class="container ">
                            <h1 class="display-3 " data-translate="membersHome.no">Oh No .... </h1>
                            <p class="lead "> <em data-translate="membersHome.sleeping">Your friends are still sleeping</em> <strong>{{vm.account.profile.firstName}}</strong></p>
                        </div>
                    </div>
                </div>

                <div ng-show="vm.publications.length!=0 " class="col-sm-12 md-padding" ng-repeat="publication in vm.publications | orderBy : '-creationDate'">
                    <div class=" panel panel-white post panel-shadow " style="background:white; color:black">
                        <div class="post-heading ">
                            <div class="pull-left image ">
                                <img ng-src="{{publication.profile.image.thumbnail}}" class="img-circle avatar " alt="user profile image " width="50px ">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a ui-sref="profile-detail({id:publication.profile.id})" ><b>{{publication.profile.firstName}} {{publication.profile.firstName}}</b></a>
                                </div>
                                <h6 class="text-muted time">{{publication.creationDate | date : "medium"}}</h6>
                            </div>
                        </div>

                        <div class="post-description ">

                            <p style="margin-bottom:3%; margin-top:5px;font-family: 'Nunito', sans-serif; font-size:25px " ng-bind-html="publication.content | linky:'_blank':{rel: 'nofollow'}"></p>
                            <center ng-hide="publication.image===null ">
                                <img ng-src="{{publication.image.normalRes}} " width="100% ">
                            </center>
                            <div class="stats">
                                <a ng-show="publication.comments.length!=0" ui-sref="profile-detail({id:publication.profile.id})"   class="btn btn-default stat-item ">
                                   {{publication.comments.length}} Comments 
                                </a>
                            </div>
                        </div>
                        <div class="post-footer ">

                            <form name="editForm " ng-submit="vm.saveComment(publication)">
                                <div class="input-group " style="margin-top:5px;margin-bottom:10px ">
                                    <input class="form-control " ng-model="vm.comment.content " placeholder="Add a comment " type="text ">

                                    <span class="input-group-btn ">
                                                   <button  class="btn btn-primary"  type="submit">Go!</button>
                                                    </span>
                                </div>
                            </form>

                            <ul class="comments-list">
                                <li class="comment" ng-repeat="comment in publication.comments | orderBy : '- creationDate' | limitTo : 3">
                                    <a class="pull-left " href="# ">
                                        <img class="avatar " ng-src="{{comment.profile.image.thumbnail}}" alt="avatar " width="50px">
                                    </a>
                                    <div class="comment-body ">
                                        <div class="comment-heading ">
                                            <h4 class="user ">{{comment.profile.firstName}} {{comment.profile.lastName}}</h4>
                                            <h5 class="time pull-right" am-time-ago="comment.creationDate"></h5>
                                          

                                        </div>
                                        <p ng-bind-html="comment.content | linky:'_blank':{rel: 'nofollow'}"></p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="dashboardcard col-md-10" style="opacity:0.9">
            <center>
                <h1 class="md-display-1" data-translate="membersHome.newart">New Articles </h1>
            </center>
            <div class=" row fix justify-content-center">
                <div ng-show="recentArticles.length===0" class="container ">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3"><b data-translate="membersHome.hey"> Hey</b> {{vm.account.profile.firstName}}</h1>
                            <p class="lead" data-translate="membersHome.noarticle" > No Articles Posted for now</p>
                        </div>
                    </div>
                </div>
                <div ng-show="recentArticles.length!=0" ng-repeat="article in recentArticles" class="col-md-2">
                    <md-card style="background:#853163; color:white">
                        <a ui-sref="news-detail({id:article.id})">
                            <img width="100%" height="auto" ng-show="article.image===null" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                            <img width="100%" height="auto" ng-hide="article.image===null" ng-src="{{article.image.mediumRes}}" class="md-card-image" alt="Washed Out">
                        </a>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{article.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ui-sref="news-detail({id:article.id})">Consulter</md-button>
                        </md-card-actions>
                    </md-card>
                </div>

            </div>
            <center>
                <md-button class="md-raised md-primary"  data-translate="membersHome.news" ui-sref="news" >See All News</md-button>
            </center>
        </div>
        <div class="dashboardcard col-md-10" style="opacity:.85">
            <center>
                <h1 class="md-display-1" data-translate="membersHome.newp">New Events </h1>
            </center>
            <div class=" row fix justify-content-center">
                <div ng-show="recentProjects.length===0&&recentArticles.length===0" class="container ">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3" data-translate="membersHome.again"> Hey Again</h1>
                            <p class="lead" data-translate="membersHome.nop"> No Events Posted for now</p>
                        </div>
                    </div>
                </div>
                <div ng-show="recentProjects.length===0&&recentArticles.length!=0" class="container ">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3"><b data-translate="membersHome.hey"> Hey</b> {{vm.account.profile.firstName}}</h1>
                            <p class="lead" data-translate="membersHome.nop"> No Events Posted for now</p>
                        </div>
                    </div>
                </div>
                <div ng-show="recentProjects.length!=0" ng-repeat="project in recentProjects" class="col-md-2">
                    <md-card style="background:#853163; color:white">
                        <a ui-sref="project-detail({id:project.id})">
                            <img width="100%" height="auto" ng-show="project.image===null" ng-src="http://localhost:8080/content/images/Logo1.png" class="md-card-image" alt="Washed Out">
                            <img width="100%" height="auto" ng-hide="project.image===null" ng-src="{{project.image.mediumRes}}" class="md-card-image" alt="Washed Out">
                        </a>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{project.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ui-sref="project-detail({id:project.id})">Consulter</md-button>
                        </md-card-actions>
                    </md-card>
                </div>

            </div>
            <center>
                <md-button class="md-raised md-primary" ui-sref="project" data-translate="membersHome.allp">See All Events</md-button>
            </center>
        </div>

    </div>
</div>