<div class="about" style="background: linear-gradient(45deg, #0947db, #07d89d); min-height:100vh" >
        <div style="width:100%;height:10vh "></div>
        <center>
            <h1 class="md-display-3 " style="text-transform: capitalize;color:white">
                <b data-translate="home.aboutUs">ABOUT US</b>
            </h1>
        </center>
        <div style=" margin-top:20px "  class="container">
                <md-card style="background:#F5F5F6; color:#6A1B9A !important ">
                       
                        <md-card-content>
                                <P ng-bind-html="vm.trusted " style=" overflow-wrap: break-word;font-family: 'Nunito', sans-serif;font-size:20px; display: inline-block;
                                vertical-align: middle;
                                line-height: normal; color:white; margin:10%; margin-bottom:5%;margin-top:0%;    font-family: 'Nunito', sans-serif !important; color:#6A1B9A !important "></P>
    
                        </md-card-content>
                    </md-card>
            
        </div>
</div>