
<div>
    <h2><span data-translate="mawjoudin2App.about.detail.title">About</span> {{vm.about.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="mawjoudin2App.about.lang">Lang</span></dt>
        <dd>
            <span>{{vm.about.lang}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.about.content">Content</span></dt>
        <dd>
            <span>{{vm.about.content}}</span>
        </dd>
        <dt><span data-translate="mawjoudin2App.about.image">Image</span></dt>
        <dd>
            <a ui-sref="image-detail({id:vm.about.image.id})">{{vm.about.image.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="about-detail.edit({id:vm.about.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
