<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProfileLabel" data-translate="mawjoudin2App.profile.home.createOrEditLabel">Create or edit a Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.profile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.profile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName" ng-model="vm.profile.firstName" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName" ng-model="vm.profile.lastName" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.bio" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio" ng-model="vm.profile.bio" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.birthdate" for="field_birthdate">Birthdate</label>
            <div class="input-group">
                <input id="field_birthdate" type="text" class="form-control" name="birthdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.profile.birthdate" is-open="vm.datePickerOpenStatus.birthdate" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress" ng-model="vm.profile.adress" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mawjoudin2App.profile.nickname" for="field_nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="field_nickname" ng-model="vm.profile.nickname" />
        </div>

        <div class="form-group">
            <label data-translate="mawjoudin2App.profile.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" ng-model="vm.profile.image" ng-options="image as image.id for image in vm.images | orderBy:'id' track by image.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="mawjoudin2App.profile.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.profile.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>