<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <!-- <div class="row justify-content-center">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'mawjoudin2App.profile.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                        </butto<n>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div style="width:100%; height:5vh"></div>
    <div class="row justify-content-center">
        <div class="col-md-10 offset-md-1">
            <div class="dashboardcard">
                <md-content infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']" style="background:white">
                    <center>
                        <h1 data-translate="mawjoudin2App.profile.home.title" class="md-display-2">Profils</h1>
                    </center>
                    <div class="friends">
                        <div class="at-grid" data-column="3">
                            <div class="at-column" ng-repeat="profile in vm.profiles track by profile.id" ng-hide="profile.firstName===null">
                                <div class="at-user">

                                    <div class="at-user__avatar ">
                                        <img ng-show="profile.image!=null" ng-src="{{profile.image.thumbnail}}" />
                                        <img ng-hide="profile.image!=null" src="content/images/user.gif" />
                                    </div>

                                    <div class="at-user__name">{{profile.firstName}} {{profile.lastName}}</div>
                                    <div class="at-user__title">{{profile.adress}}</div>
                                    <ul class="at-social">
                                        <a class="pull-center" ui-sref="profile-detail({id:profile.id})">
                                            <span class="label label-info">See this profile</span>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </md-content>
            </div>
        </div>
    </div>

</div>