<div class="Dashboardbk">
    <div style="width:100%; height:20vh"></div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="dashboardcard" style="min-height:20vh">
                <md-content layout-padding="">
                    <div class="col-md-5" ng-show="vm.profile.id===vm.account.profile.id">
                        <form class="cd-form floating-labels" name="form" role="form" ng-submit="ChangeImage()">
                            <div class="show-image ">
                                <a data-toggle="modal" data-target="#myProfileModal">
                                    <img ng-show="vm.profile.image.mediumRes!=null&&myCroppedImage===''" class="maincard" style="width:100%;  height:auto;" ng-src="{{vm.profile.image.highRes}} "
                                    />
                                    <img ng-show="myCroppedImage!=''" class="maincard" style="width:100%;  height:auto;" ng-src="{{myCroppedImage}} " />
                                    <img ng-show="vm.profile.image===null&&myCroppedImage===''" class="maincard" style="width:100%;  height:auto;" src="content/images/user.gif"
                                    />
                                </a>
                            </div>
                            <center>
                                <button data-translate="mawjoudin2App.profile.modify" type="submit" ng-show="myCroppedImage!=''" ng-disabled="editInfoForm.$invalid || vm.isSaving"
                                    type="submit" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                    Mettre à jour
                                </button>
                                <button data-translate="mawjoudin2App.profile.annuler" type="button" ng-show="myCroppedImage!=''" ng-click="myCroppedImage=''"
                                    class="cta ctasucess" style="background:#ff4a4a;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                    Annuler
                                </button>
                            </center>
                        </form>
                    </div>
                    <div class="col-md-5" ng-hide="vm.profile.id===vm.account.profile.id">
                        <div class="show-image ">
                            <img ng-show="vm.profile.image.mediumRes!=null" class="maincard" style="width:100%;  height:auto;" ng-src="{{vm.profile.image.highRes}} "
                            />
                            <img ng-hide="vm.profile.image.mediumRes!=null" class="maincard" style="width:100%;  height:auto;" src="content/images/user.gif"
                            />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="{{'mawjoudin2App.profile' | translate}}">
                                    <div class="md-padding">
                                        <span ng-show="isAFiend&&vm.profile.id!=vm.account.profile.id"> Vous suivez
                                            <a class="addingIcon" ng-click="showConfirm2($event)">
                                                <i tooltip-animation="false" tooltip-placement="left" uib-tooltip="Ne plus suivre {{vm.profile.firstName}}" class="fa fa-user-times fa-pull-right "
                                                    style="color: gray"></i>
                                            </a>
                                        </span>
                                        <h1 style="margin-bottom:3px;margin-top:3px">{{vm.profile.firstName}} {{vm.profile.lastName}}
                                            <span ng-hide="isAFiend||vm.profile.id===vm.account.profile.id" class="fa-stack fa-pull-right">
                                                <a class="addingIcon" ng-click="showConfirm($event)">
                                                    <i tooltip-animation="false" tooltip-placement="left" uib-tooltip="Suivre {{vm.profile.firstName}}" class="fa fa-user-plus fa-stack-1x"
                                                        style="color: #3498db"></i>
                                                </a>
                                            </span>
                                        </h1>
                                        <small data-translate="mawjoudin2App.profile.habite">Habite à</small>
                                        <small>
                                            <i style="color:#3498db">{{vm.profile.adress}}</i>
                                        </small>
                                        <div class="well" style="margin-top:10px">
                                            <blockquote ng-hide="vm.profile.bio||edit===1"> {{vm.profile.firstName}} {{vm.profile.lastName}} ne posséde pas encore de Bio!
                                            </blockquote>
                                            <blockquote ng-show="vm.profile.bio&&edit===0"> {{vm.profile.bio}}</blockquote>
                                            <form ng-show="edit===1" name="editForm" ng-submit="saveBio()">
                                                <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                                                    <label data-translate="mawjoudin2App.profile.bio">Bio</label>
                                                    <textarea ng-model="vm.profile.bio" md-maxlength="100" rows="3" md-select-on-focus md-no-autogrow required></textarea>
                                                </md-input-container>
                                                <center>
                                                    <button data-translate="mawjoudin2App.profile.modify" type="submit" ng-disabled="editInfoForm.$invalid || vm.isSaving" type="submit"
                                                        class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                                        Mettre à jour
                                                    </button>
                                                    <button data-translate="mawjoudin2App.profile.annuler" type="button" ng-click="cancelBio()" class="cta ctasucess" style="background:#ff4a4a;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                                        Annuler
                                                    </button>
                                                </center>
                                            </form>
                                            <a ng-click="editBio()" ng-show="vm.profile.id===vm.account.profile.id&&edit===0">
                                                <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Modifier ma Bio" style="float: right;"
                                                    class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </md-tab>
                                <md-tab label="{{'mawjoudin2App.profile.apropos' | translate}}">
                                    <div class="md-padding">
                                        <span ng-show="vm.profile.id===vm.account.profile.id" class="fa-stack fa-pull-right">
                                            <a class="addingIcon" ui-sref="password">
                                                <img tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'global.menu.account.password' | translate}}" src="content/images/padlock.svg"
                                                    width="25px" />
                                            </a>
                                        </span>
                                        <div ng-hide="editInfo===1">
                                            <div class="row md-padding">
                                                <div class="col-md-12">
                                                    <span class="fa fa-birthday-cake" aria-hidden="true"></span>&nbsp;
                                                    <span>
                                                        {{vm.profile.birthdate | date:'fullDate'}}</span>
                                                </div>
                                            </div>
                                            <div class="row md-padding">
                                                <div class="col-md-12">
                                                    <span class="fa fa-map-marker" aria-hidden="true"></span>&nbsp;
                                                    <span ng-show=" vm.profile.adress">
                                                        {{vm.profile.adress}}</span>
                                                    <span ng-hide="vm.profile.adress">
                                                        <small> {{vm.profile.firstName}} est SDF </small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="cd-form floating-labels" ng-show="editInfo===1" name="editInfoForm" ng-submit="saveInfos()">
                                            <div class="icon">
                                                <label class="cd-label" for="cd-name" data-translate="mawjoudin2App.profile.lastName">Last Name</label>
                                                <input class="lastname" type="text" name="cd-name" id="cd-firstName" ng-model="vm.profile.firstName">
                                            </div>
                                            <div class="icon">
                                                <label class="cd-label" for="cd-name" data-translate="mawjoudin2App.profile.firstName">First Name</label>
                                                <input class="lastname" type="text" name="cd-name" id="cd-lastName" ng-model="vm.profile.lastName">
                                            </div>
                                            <div class="icon">
                                                <label for="cd-adress" data-translate="mawjoudin2App.profile.adress">Adress</label>
                                                <input vs-google-autocomplete ng-model="vm.profile.adress" name="address" class="adress" type="text" id="cd-adress">
                                            </div>
                                            <div class="icon">
                                                <label for="cd-birthday" data-translate="mawjoudin2App.profile.birthdate">Birth Date</label>
                                                <input class="date" type="date" ng-model="vm.profile.birthdate" name="cd-birthday" id="cd-birthday">
                                            </div>
                                            <button data-translate="mawjoudin2App.profile.modify" type="submit" ng-disabled="editInfoForm.$invalid || vm.isSaving" type="submit"
                                                class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                                Mettre à jour
                                            </button>
                                            <button data-translate="mawjoudin2App.profile.annuler" type="button" ng-click="cancel()" class="cta ctasucess" style="background:#ff4a4a;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:25%;border:1px white solid">
                                                Annuler
                                            </button>
                                        </form>
                                        <a ng-click="editInfo=1" style="color:#3498db" ng-show="vm.profile.id===vm.account.profile.id" ng-hide="editInfo===1">
                                            <p data-translate="mawjoudin2App.profile.save" style="float: right;"> Modifier mes Infos</p>
                                        </a>
                                    </div>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </div>
                </md-content>
            </div>
            <!-- Main content -->
            <div class="profilecard" style="min-height:40vh">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{'mawjoudin2App.profile.feeds' | translate}}">
                            <md-content class="md-padding">
                                <div class="col-md-12" ng-show="vm.profile.id===vm.account.profile.id">
                                    <div class="panel panel-white post ">
                                        <div class="post-heading ">
                                            <div class="pull-left image ">
                                                <img ng-show="vm.profile.image!=null" ng-src="{{vm.profile.image.thumbnail}}" class="img-circle avatar " alt="user profile image ">
                                                <img ng-hide="vm.profile.image!=null" class="img-circle avatar " alt="user profile image " src="content/images/user.gif"
                                                />
                                            </div>
                                            <div class="pull-left meta ">
                                                <div class="title h5 ">
                                                    <a href="# ">
                                                        <b>{{vm.profile.firstName}}</b>
                                                    </a>
                                                    <strong data-translate="mawjoudin2App.profile.sharesomething">Want to Share Something</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-description ">
                                            <form name="editForm" role="form" novalidate ng-submit="vm.savePublication()">
                                                <md-input-container class="md-block">
                                                    <label data-translate="mawjoudin2App.profile.publication">What's on your mind ?</label>
                                                    <textarea ng-model="vm.publication.publication.content" rows="5" md-select-on-focus></textarea>
                                                </md-input-container>
                                                <md-input-container class="md-block" ng-hide="myCroppedSharedImage===''">
                                                    <div>
                                                        <img class="img-thumbnail" ng-src="{{myCroppedSharedImage}}" width="100px" />
                                                    </div>
                                                </md-input-container>
                                                <div class="stats ">
                                                    <a data-toggle="modal" data-target="#myModal" class="btn btn-default stat-item ">
                                                        <i class="fa fa-camera-retro"></i>
                                                    </a>
                                                    <md-button type="submit" style="background:#3498db" class="md-raised md-primary pull-right" data-translate="mawjoudin2App.profile.share">
                                                        Share
                                                        <i class="fa fa-share"></i>
                                                    </md-button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.pubLinks['last']">
                                <div ng-show="vm.publications.length===0" ng-hide="vm.profile.id!=vm.account.profile.id" class="container ">
                                    <div class="jumbotron">
                                        <div class="container">
                                            <h1 class="display-3">
                                                <strong data-translate="mawjoudin2App.profile.hey">Hey </strong>{{vm.account.profile.firstName}}
                                            </h1>
                                            <p data-translate="mawjoudin2App.profile.time" class="lead">It's time to share something !</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="vm.publications.length===0&&vm.profile.id!=vm.account.profile.id" class="container ">
                                    <div class="jumbotron">
                                        <div class="container">
                                            <h1 class="display-3">
                                                <strong data-translate="mawjoudin2App.profile.hey">Hey</strong> {{vm.account.profile.firstName}}
                                            </h1>
                                            <p class="lead">{{vm.profile.firstName}}
                                                <strong data-translate="mawjoudin2App.profile.shy">
                                                    is still shy to share something !</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="vm.publications.length!=0" class="col-sm-12 md-padding" ng-repeat="publication in vm.publications">
                                    <div class=" panel panel-white post panel-shadow ">
                                        <div class="post-heading ">
                                            <div class="dropdown pull-right" ng-show="publication.profile.id===vm.account.profile.id">
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a ng-click="showConfirm3($event,publication)">
                                                            <i class="fa fa-eraser" aria-hidden="true"></i> Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="pull-left image ">
                                                <img ng-show="vm.profile.image!=null" ng-src="{{publication.profile.image.thumbnail}}" class="img-circle avatar " alt="user profile image "
                                                    width="50px">
                                                <img ng-hide="vm.profile.image!=null" class="img-circle avatar " alt="user profile image " src="content/images/user.gif"
                                                    width="50px" />
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="# ">
                                                        <b>{{publication.profile.firstName}} {{publication.profile.firstName}}</b>
                                                    </a>
                                                    made a post.
                                                </div>
                                                <h6 class="text-muted time">{{publication.creationDate | date : "medium"}}</h6>
                                            </div>
                                        </div>
                                        <div class="post-description ">
                                            <p style="margin-bottom:3%; margin-top:5px;font-family: 'Nunito', sans-serif; font-size:25px " ng-bind-html="publication.content | linky:'_blank':{rel: 'nofollow'}"></p>
                                            <center ng-hide="publication.image===null">
                                                <img ng-src="{{publication.image.normalRes}} " width="100% ">
                                            </center>
                                            <div class="stats">
                                                <a ng-show="publication.comments.length!=0" ng-click="loadMore(publication.comments) " class="btn btn-default stat-item ">
                                                    {{publication.comments.length}} Comments
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-footer ">
                                            <form name="editForm ">
                                                <div class="input-group " style="margin-top:5px;margin-bottom:10px ">
                                                    <input class="form-control " ng-model="publication.comment.content" placeholder="{{'mawjoudin2App.profile.comment' | translate}}"
                                                        type="text ">
                                                    <span class="input-group-btn ">
                                                        <button class="btn btn-primary" type="submit" ng-click="vm.saveComment(publication)" data-translate="mawjoudin2App.profile.go">Go!</button>
                                                    </span>
                                                </div>
                                            </form>
                                            <ul class="comments-list">
                                                <li class="comment" ng-repeat="comment in publication.comments | orderBy : '- creationDate' | limitTo : x">
                                                    <a class="pull-left" ui-sref="profile-detail({id:comment.profile.id})">
                                                        <img ng-show="vm.profile.image!=null" class="avatar " ng-src="{{comment.profile.image.thumbnail}} " alt="avatar " width="50px">
                                                        <img ng-hide="vm.profile.image!=null" class="avatar " alt="avatar" src="content/images/user.gif" width="50px" />
                                                    </a>
                                                    <a ng-click="showConfirm4($event,comment,publication)" class="pull-right">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                    <div class="comment-body ">
                                                        <div class="comment-heading ">
                                                            <h4 class="user">{{comment.profile.firstName}} {{comment.profile.lastName}}</h4>
                                                            <h5 class="time pull-center" am-time-ago="comment.creationDate"></h5>
                                                        </div>
                                                        <p ng-bind-html="comment.content | linky:'_blank':{rel: 'nofollow'}"></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="{{'mawjoudin2App.profile.blog' | translate}}">
                            <md-content class="md-padding">
                                <md-tabs md-dynamic-height md-border-bottom ng-show="vm.profile.id===vm.account.profile.id">
                                    <md-tab label="{{'mawjoudin2App.profile.newb' | translate}}">
                                        <md-content class="md-padding">
                                            <div class="col-md-12 ">
                                                <form class="cd-form floating-labels" name="form" role="form" ng-submit="vm.saveBlog()">
                                                    <div class="paper">
                                                        <a data-toggle="modal" data-target="#myModalBlog">
                                                            <img ng-show="myCroppedBlogImage!=''" class="poster " ng-src="{{myCroppedBlogImage}}" />
                                                            <img ng-hide="myCroppedBlogImage!=''" class="poster " src="content/images/article.jpg" />
                                                        </a>
                                                        <div class="icon">
                                                            <label class="cd-label" for="cd-adress" data-translate="mawjoudin2App.profile.title">Set a title</label>
                                                            <input ng-model="vm.blog.blog.title" name="titre" class="titre" type="text" id="cd-title" style="font-size: 2rem;color: #303336;letter-spacing: 1px;font-family:'Nunito', sans-serif;">
                                                        </div>
                                                        <hr/>
                                                        <div class="icon">
                                                            <label class="cd-label" for="cd-textarea" data-translate="mawjoudin2App.profile.article"> write your article here .... </label>
                                                            <textarea style="width :100%" class="motivation" name="cd-textarea" ng-model="vm.blog.blog.content" id="cd-textarea"></textarea>
                                                        </div>
                                                        <button type="submit" class="cta ctasucess pull-center" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:50%"
                                                            data-translate="mawjoudin2App.profile.post">
                                                            Post It !
                                                        </button>
                                                        <div class="space "></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="{{'mawjoudin2App.profile.publishedb' | translate}}">
                                        <md-content class="md-padding" infinite-scroll="vm.loadPageBlogPublished(vm.pageBlogPublished + 1)" infinite-scroll-disabled="vm.pageBlogPublished >= vm.blogLinks['last']">
                                            <div ng-show="vm.publishedArticles.length===0&&vm.profile.id===vm.account.profile.id&&vm.onHoldBlogs.length!=0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3">
                                                            <strong data-translate="mawjoudin2App.profile.hey">Hey</strong> {{vm.account.profile.firstName}}
                                                        </h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.validation"> If you posted Something and it's not published please contact the
                                                            administrator !
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="vm.publishedArticles.length===0&&vm.profile.id===vm.account.profile.id&&vm.onHoldBlogs.length===0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3">
                                                            <strong data-translate="mawjoudin2App.profile.hey"> Hey</strong> {{vm.account.profile.firstName}}
                                                        </h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.motivated">Not Motivited yet to publish an article ?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="vm.publishedArticles.length!=0" class="col-md-6" ng-repeat="article in vm.publishedArticles">
                                                <div class="paper ">
                                                    <img class="poster " ng-src="{{article.image.normalRes}}" />
                                                    <span class="pull-left" width="20%">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>{{article.creationDate | date :"mediumDate"}}</span>
                                                    <span class="pull-right" width="20%">
                                                        <img ng-show="vm.profile.image!=null" class="avatar img-circle" ng-src="{{article.profile.image.thumbnail}}" width="25px"
                                                        />
                                                        <img ng-hide="vm.profile.image!=null" class="avatar img-circle " alt="avatar" src="content/images/user.gif" width="25px"
                                                        />{{article.profile.firstName}} {{vm.profile.lastName}}</span>
                                                    <div class="space"></div>
                                                    <hr/>
                                                    <h1>{{article.title}}</h1>
                                                    <hr/>
                                                    <p class="text" ng-hide="isArabic(article.content)">{{article.content | limitTo: 80 }} ...</p>
                                                    <p class="textArab" ng-show="isArabic(article.content)" dir="rtl">{{article.content | limitTo: 80 }} ...</p>
                                                    <a class="btn" data-translate="mawjoudin2App.profile.readmore" ui-sref="blog-detail({id:article.id})">Read More</a>
                                                    <div class="space"></div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="{{'mawjoudin2App.profile.holdb' | translate}} ({{vm.onHoldBlogs.length}})">
                                        <md-content class="md-padding" infinite-scroll="vm.loadPageBlog(vm.pageBlog + 1)" infinite-scroll-disabled="vm.pageBlog >= vm.onHoldLinks['last']">
                                            <div ng-show="vm.publishedArticles.length===0&&vm.profile.id===vm.account.profile.id&&vm.onHoldBlogs.length===0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3">
                                                            <strong data-translate="mawjoudin2App.profile.hey"> Hey </strong> {{vm.account.profile.firstName}}
                                                        </h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.emptiness">Nothing In this world is worth writing for ?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" ng-repeat="onHoldBlog in vm.onHoldBlogs">
                                                <div class="paper">
                                                    <img class="poster " ng-src="{{onHoldBlog.image.normalRes}}" />
                                                    <span style="background : orange" class="badge badge-pill badge-warning">On Hold</span>
                                                    <h1>{{onHoldBlog.title}}</h1>
                                                    <hr/>
                                                    <p class="text" ng-hide="isArabic(onHoldBlog.content)">{{onHoldBlog.content | limitTo: 80 }} ...</p>
                                                    <p class="textArab" ng-show="isArabic(onHoldBlog.content)" dir="rtl">{{onHoldBlog.content | limitTo: 80 }} ...</p>
                                                    <a class="btn" ui-sref="blog-detail({id:onHoldBlog.id})" data-translate="mawjoudin2App.profile.readmore">Read More</a>
                                                    <div class="space "></div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                                <div class="row justify-content-center" infinite-scroll="vm.loadPageBlogPublished(vm.pageBlogPublished + 1)" infinite-scroll-disabled="vm.pageBlogPublished >= vm.blogLinks['last']"
                                    ng-hide="vm.profile.id===vm.account.profile.id">
                                    <div ng-show="vm.publishedArticles.length===0" class="container ">
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1 class="display-3">
                                                    <strong data-translate="mawjoudin2App.profile.hey"> Hey</strong> {{vm.account.profile.firstName}}
                                                </h1>
                                                <p class="lead">{{vm.profile.firstName}}
                                                    <strong data-translate="mawjoudin2App.profile.mothim">
                                                        needs to be motivated ! Give him some motivation to publish something !
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-repeat="article in vm.publishedArticles track by article.id">
                                        <div class="paper ">
                                            <img class="poster " ng-src="{{article.image.normalRes}}" />
                                            <span class="pull-left" width="20%">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>{{article.creationDate | date :"mediumDate"}}</span>
                                            <span class="pull-right" width="20%">
                                                <img class="avatar img-circle" ng-src="{{article.profile.image.thumbnail}}" width="25px" />{{article.profile.firstName}} {{vm.profile.lastName}}</span>
                                            <div class="space"></div>
                                            <hr/>
                                            <h1>{{article.title}}</h1>
                                            <hr/>
                                            <p class="text" ng-hide="isArabic(article.content)">{{article.content | limitTo: 40 }} ...</p>
                                            <p class="textArab" ng-show="isArabic(article.content)" dir="rtl">{{article.content | limitTo: 40 }} ...</p>
                                            <a class="btn" data-translate="mawjoudin2App.profile.readmore" ui-sref="blog-detail({id:article.id})">Read More</a>
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="{{'mawjoudin2App.profile.eventer' | translate}}">
                            <md-content class="md-padding" ng-hide="vm.profile.id===vm.account.profile.id">
                                <div class="container ">
                                    <div class="jumbotron">
                                        <div class="container">
                                            <h1 class="display-3" data-translate="mawjoudin2App.profile.eventhead">Dude !</h1>
                                            <p class="lead" data-translate="mawjoudin2App.profile.eventext">Why so curious ? This place is private !</p>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <div ng-show="vm.profile.id===vm.account.profile.id">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                                                    Previous
                                                </button>
                                                <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                                                    Today
                                                </button>
                                                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                                                    Next
                                                </button>
                                            </div>
                                        </div>
                                        <br class="visible-xs visible-sm">
                                        <div class="col-md-6 text-center">
                                            <div class="btn-group">
                                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false" data-translate="mawjoudin2App.profile.year">Year</label>
                                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false" data-translate="mawjoudin2App.profile.month">Month</label>
                                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false" data-translate="mawjoudin2App.profile.week">Week</label>
                                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false" data-translate="mawjoudin2App.profile.day">Day</label>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                                <md-content class="md-padding">
                                    <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
                                        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                        cell-is-open="vm.cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30"
                                        cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
                                    </mwl-calendar>
                                </md-content>
                            </div>
                        </md-tab>
                        <md-tab label="{{'mawjoudin2App.profile.gallery' | translate}}">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="{{'mawjoudin2App.profile.profilg' | translate}}">
                                    <md-content class="md-padding" infinite-scroll="vm.loadPageImageProfile(vm.pageImageProfil + 1)" infinite-scroll-disabled="vm.pageImageProfil >= vm.profilImagelinks['last']">
                                        <div ng-show="vm.profilImages.length===0&&vm.profile.id===vm.account.profile.id" class="container ">
                                            <div class="jumbotron">
                                                <div class="container">
                                                    <h1 class="display-3">
                                                        <strong data-translate="mawjoudin2App.profile.hey"> Hey</strong> {{vm.account.profile.firstName}}
                                                    </h1>
                                                    <p class="lead" data-translate="mawjoudin2App.profile.photoP">It's safe here ! Share your photo and let people here recognize you !</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="vm.profilImages.length===0&&vm.profile.id!=vm.account.profile.id" class="container ">
                                            <div class="jumbotron">
                                                <div class="container">
                                                    <center>
                                                        <img src="content/images/200w_d.gif" width="50%" />
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div ng-repeat="profilImage in vm.profilImages track by profilImage.id" class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="gallery">
                                                    <img class="img-responsive" ng-src="{{profilImage.mediumRes}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="{{'mawjoudin2App.profile.sharedg' | translate}}">
                                    <md-content class="md-padding" infinite-scroll="vm.loadPageImageShared(vm.pageImageShared + 1)" infinite-scroll-disabled="vm.pageImageShared >= vm.imageShlinks['last']">
                                        <div class="row justify-content-center">
                                            <div ng-show="vm.sharedImages.length===0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <center>
                                                            <img src="content/images/200w_d.gif" width="50%" />
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="sharedImage in vm.sharedImages track by sharedImage.id" class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="gallery">
                                                    <img class="img-responsive" ng-src="{{sharedImage.mediumRes}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-tab>
                        <md-tab label="{{'mawjoudin2App.profile.friend' | translate}}">
                            <md-content class="md-padding" ng-hide="vm.profile.id!=vm.account.profile.id">
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="{{'mawjoudin2App.profile.friendly' | translate}}">
                                        <md-content class="md-padding">
                                            <div ng-show="vm.friends.length===0&&vm.profile.id===vm.account.profile.id" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3">
                                                            <strong data-translate="mawjoudin2App.profile.hey"> Hey</strong> {{vm.account.profile.firstName}}
                                                        </h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.friends">It's a social network ! aren't you interested to discover people
                                                            here ?
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="friends">
                                                <div class="at-grid" data-column="3">
                                                    <div class="at-column" ng-repeat="friend in vm.friends">
                                                        <div class="at-user">
                                                            <div class="at-user__avatar ">
                                                                <a ui-sref="profile-detail({id:friend.id})">
                                                                    <img ng-show="friend.image!=null" ng-src="{{friend.image.thumbnail}}" />
                                                                    <img ng-hide="friend.image!=null" src="content/images/user.gif" />
                                                                </a>
                                                            </div>
                                                            <div class="at-user__name ">{{friend.firstName}} {{friend.lastName}}</div>
                                                            <div class="at-user__title ">{{friend.adress}}</div>
                                                            <ul class="at-social">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="{{'mawjoudin2App.profile.requestf' | translate}} ({{vm.invitations.length}})">
                                        <md-content class="md-padding">
                                            <div ng-show="vm.invitations.length===0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3" data-translate="mawjoudin2App.profile.headerreceive">No requests yet !</h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.receive">Don't give up just start making some friendship ! </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="friends">
                                                <div class="at-grid" data-column="3">
                                                    <div class="at-column" ng-repeat="invitation in vm.invitations track by $index">
                                                        <div class="at-user">
                                                            <div class="at-user__avatar">
                                                                <img ng-show="invitation.sender.image!=null" ng-src="{{invitation.sender.image.thumbnail}}" />
                                                                <img ng-hide="invitation.sender.image!=null" src="content/images/user.gif" />
                                                            </div>
                                                            <div class="at-user__name ">{{invitation.sender.firstName}}{{invitation.sender.lastName}}</div>
                                                            <div class="at-user__title ">{{invitation.sender.adress}}</div>
                                                            <ul class="at-social ">
                                                                <li class="at-social__item ">
                                                                    <a ng-click="acceptInvitation(invitation)">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 44 44" enable-background="new 0 0 44 44"
                                                                            width="18" height="18">
                                                                            <path d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm12.7,15.1l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.6-0.1-0.7-0.3l-7.8-8.4-.2-.2c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.3 0.4,0.9 0,1.3z"
                                                                                fill="#006DF0" />
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                                <li class="at-social__item">
                                                                    <a>
                                                                        <svg width="18" height="18" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            x="0px" y="0px" viewBox="0 0 286.054 286.054" style="enable-background:new 0 0 286.054 286.054;"
                                                                            xml:space="preserve">
                                                                            <g>
                                                                                <path style="fill:#E2574C;" d="M168.352,142.924l25.28-25.28c3.495-3.504,3.495-9.154,0-12.64l-12.64-12.649
                                                                c-3.495-3.486-9.145-3.495-12.64,0l-25.289,25.289l-25.271-25.271c-3.504-3.504-9.163-3.504-12.658-0.018l-12.64,12.649
                                                                c-3.495,3.486-3.486,9.154,0.018,12.649l25.271,25.271L92.556,168.15c-3.495,3.495-3.495,9.145,0,12.64l12.64,12.649
                                                                c3.495,3.486,9.145,3.495,12.64,0l25.226-25.226l25.405,25.414c3.504,3.504,9.163,3.504,12.658,0.009l12.64-12.64
                                                                c3.495-3.495,3.486-9.154-0.009-12.658L168.352,142.924z M143.027,0.004C64.031,0.004,0,64.036,0,143.022
                                                                c0,78.996,64.031,143.027,143.027,143.027s143.027-64.031,143.027-143.027C286.054,64.045,222.022,0.004,143.027,0.004z
                                                                M143.027,259.232c-64.183,0-116.209-52.026-116.209-116.209s52.026-116.21,116.209-116.21s116.209,52.026,116.209,116.209
                                                                S207.21,259.232,143.027,259.232z" />
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                                <li class="at-social__item"></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="{{'mawjoudin2App.profile.sentf' | translate}} ({{vm.requests.length}})">
                                        <md-content class="md-padding">
                                            <div ng-show="vm.requests.length===0" class="container ">
                                                <div class="jumbotron">
                                                    <div class="container">
                                                        <h1 class="display-3" data-translate="mawjoudin2App.profile.headersent">No requests sent !</h1>
                                                        <p class="lead" data-translate="mawjoudin2App.profile.sent">It's time to start making some friendship ! </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="friends">
                                                <div class="at-grid" data-column="3">
                                                    <div class="at-column" ng-repeat="request in vm.requests track by $index">
                                                        <div class="at-user">
                                                            <div class="at-user__avatar">
                                                                <a ui-sref="profile-detail({id:request.receiver.id})">
                                                                    <img ng-show="request.receiver.image!=null" ng-src="{{request.receiver.image.thumbnail}}" />
                                                                    <img ng-hide="request.receiver.image!=null" src="content/images/user.gif" />
                                                                    <a>
                                                            </div>
                                                            <div class="at-user__name ">{{request.receiver.firstName}}{{request.receiver.lastName}}</div>
                                                            <div class="at-user__title ">{{request.receiver.adress}}</div>
                                                            <ul class="at-social ">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                            <md-content ng-show="vm.profile.id!=vm.account.profile.id">
                                <div ng-show="vm.friends.length===0" class="container ">
                                    <div class="jumbotron">
                                        <div class="container">
                                            <h1 class="display-3">
                                                <strong data-translate="mawjoudin2App.profile.hey"> Hey </strong>{{vm.account.profile.firstName}}</h1>
                                            <p class="lead">{{vm.profile.firstName}}
                                                <strong data-translate="mawjoudin2App.profile.nofriend">
                                                    has no friends yet ! Be the first and Invite him to be your friend</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="friends" ng-show="vm.profile.id!=vm.account.profile.id">
                                    <div class="at-grid" data-column="3">
                                        <div class="at-column" ng-repeat="friend in vm.friends">
                                            <div class="at-user">
                                                <div class="at-user__avatar ">
                                                    <a ui-sref="profile-detail({id:friend.id})">
                                                        <img ng-show="friend.image!=null" ng-src="{{friend.image.thumbnail}}" />
                                                        <img ng-hide="friend.image!=null" src="content/images/user.gif" />
                                                    </a>
                                                </div>
                                                <div class="at-user__name ">{{friend.firstName}} {{friend.lastName}}</div>
                                                <div class="at-user__title ">{{friend.adress}}</div>
                                                <ul class="at-social">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>
<div style=" background: rgba(0, 0, 0, 0.8); " id="myProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content needs fix-->
        <div style=" background:black;color: white" class="modal-content ">
            <div class="modal-body">
                <center>
                    <div>
                        <label data-translate="global.form.photo" for="fileInput1" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px black solid">Selectionner une photo</label>
                        <input accept="image/*" type="file" id="fileInput1" style="visibility:hidden" />
                    </div>
                    <div style="min-height: 300px; height: 100%; width: 100%;background:black" class=" cropArea ">
                        <ui-cropper style="height: 100%" image="myImage" area-type="circle" chargement=" 'Chargment en cours ' " result-image="myCroppedImage"
                            canvas-scalemode="true" result-image-size="1000"></ui-cropper>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" data-translate="entity.action.close" class="btn btn-secondary" data-dismiss="modal">fermer</button>
            </div>
        </div>
    </div>
</div>
<div style=" background: rgba(0, 0, 0, 0.8); " id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content needs fix-->
        <div style=" background:black;color: white" class="modal-content ">
            <div class="modal-body">
                <center>
                    <div>
                        <label data-translate="global.form.photo" for="fileInput3" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px black solid">Selectionner une photo</label>
                        <input accept="image/*" type="file" id="fileInput3" style="visibility:hidden" />
                    </div>
                    <div style="min-height: 300px; height: 100%; width: 100%;background:black" class=" cropArea ">
                        <ui-cropper style="height: 100%" aspect-ratio="1.65" image="mySharedImage" area-type="rectangle" chargement=" 'Chargment en cours ' "
                            result-image="myCroppedSharedImage" canvas-scalemode="true" style="height: 100%" result-image-size="{w:1000,h:600}"></ui-cropper>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" data-translate="entity.action.close" class="btn btn-secondary" data-dismiss="modal">fermer</button>
            </div>
        </div>
    </div>
</div>
<div style=" background: rgba(0, 0, 0, 0.8); " id="myModalBlog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content needs fix-->
        <div style=" background:black;color: white" class="modal-content ">
            <div class="modal-body">
                <center>
                    <div>
                        <label data-translate="global.form.photo" for="fileInput4" class="cta ctasucess" style="background:#5050f8;color:white;font-family: 'Nunito', sans-serif;font-size:15px;width:40%; margin-top:25px;border:1px black solid">Selectionner une photo</label>
                        <input accept="image/*" type="file" id="fileInput4" style="visibility:hidden" />
                    </div>
                    <div style="min-height: 300px; height: 100%; width: 100%;background:black" class=" cropArea ">
                        <ui-cropper aspect-ratio="1.65" style="height: 100%" result-image-size="{w:1000,h:600}" image="myBlogImage" area-type="rectangle "
                            chargement=" 'Chargment en cours ' " result-image="myCroppedBlogImage" canvas-scalemode="true" init-max-area="true"></ui-cropper>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-translate="entity.action.close" data-dismiss="modal">fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->
<script src="content/js/main.js "></script>
